Repository IAmMajo/Pleno: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dto-swiftkotlin, build-backend-docker-image-config-service, build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-notifications-service, build-backend-docker-image-all-services

Path conditions:
  dto-swiftkotlin: any of: DTOs/Sources/**/*, translate-dtos.sh
  build-backend-docker-image-config-service: any of: backend/config-service/**/*
  build-backend-docker-image-auth-service: any of: backend/auth-service/**/*
  build-backend-docker-image-meeting-service: any of: backend/meeting-service/**/*
  build-backend-docker-image-notifications-service: any of: backend/notifications-service/**/*
  build-backend-docker-image-all-services: any of: backend/models/**/*, DTOs/**/*

driverName, driverID, lat und long in GetEventRideDTO hinzu - #447
  backend/ride-service/Sources/App/Controllers/EventRideController.swift
Due: none

offenes ToDo erledigt - #447
  backend/ride-service/Sources/App/Controllers/EventRideController.swift
Due: none

DTO geaendert - #448
  DTOs/Sources/RideServiceDTOs/GetEventRideDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/GetEventRideDTO.kt
Due: none

Cummulated Overview for Events
  KIVoP-ios/KIVoP-ios/Views/Ride/Components/EventList.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideViewModel.swift
Due: none

Protokolle in mehreren Sprachen. Poster Service angepasst. - #445 - @30038
  kivopadmin/kivopadmin/BackendController/PosterManager.swift
  kivopadmin/kivopadmin/BackendController/UserManager.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDateilAdminView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/ViewModels/LocationsViewModel.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/EditPosterPosition.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/UserSelectionSheet.swift
  kivopadmin/kivopadmin/Views/Posters/PostersMainView.swift
  kivopadmin/kivopadmin/Views/Records/MarkdownEditorView.swift
  kivopadmin/kivopadmin/Views/Records/RecordsMainView.swift
Due: none

Die Sprache des Protokolls wird ausgeschrieben angezeigt. Es gibt eine WatingView, falls noch kein Protokoll veröffentlicht wurde - #449 - @30038
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Meeting/Meeting-RecordsView.swift
  KIVoP-ios/KIVoP-ios/Views/Protokolle/ProtokolleView.swift
Due: none

Fehlerbehebung in Nutzeverwaltung - Nach Änderung der DTOs wurden die Fehler in der Nutzungsverwaltung behoben - @30078
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/PendingRequest.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserEdit.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserManagement.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserPopUp.swift
Due: none

Sitzung-Service: Config-Service-Nutzung eingebaut - -> Standardsprache des Vereins - Dementsprechend Config-Einstellung _languageCode_ in _defaultLanguage_ umbenannt - #241
  backend/config-service/Sources/App/Migrations/CreateServiceSetting.swift
  backend/config-service/Sources/App/Migrations/CreateSetting.swift
  backend/meeting-service/Sources/App/Controllers/MeetingController.swift
  backend/meeting-service/Sources/App/Controllers/RecordController.swift
Due: build-backend-docker-image-config-service, build-backend-docker-image-meeting-service

Poster-Service: Summary-Inhalt korrigiert - #453
  backend/poster-service/Sources/App/Controllers/PosterController.swift
Due: none

Fehlerbehebung in der MainPage - DTO Änderungen wurden angepasst - Profilbildfunktion angepasst - @30078
  KIVoP-ios/KIVoP-ios/API/OnboardingAPI.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView-ProfilPicture.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage.swift
Due: none

Events hinzugefügt -#364 -@30179
  KIVoP-ios/KIVoP-ios.xcodeproj/project.pbxproj
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Utils/LocationMapManager.swift
  KIVoP-ios/KIVoP-ios/Views/Events/EventMap.swift
  KIVoP-ios/KIVoP-ios/Views/Events/EventView.swift
  KIVoP-ios/KIVoP-ios/Views/Events/EventVotingView.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage.swift
Due: none

Events Position auf Main Page angepasst
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Events/EventView.swift
  KIVoP-ios/KIVoP-ios/Views/Events/EventVotingView.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage.swift
Due: none

Events erstellbar und abrufbar - #451 - @30038
  kivopadmin/kivopadmin/Views/Events/EventsMainView.swift
  kivopadmin/kivopadmin/Views/Events/SelectPlaceView.swift
  kivopadmin/kivopadmin/Views/Events/ViewModel/EventViewModel.swift
  kivopadmin/kivopadmin/Views/Events/Views/CreateEvent.swift
Due: none

resolve merge conflict
  DTOs/Sources/AuthServiceDTOs/UserProfileDTO.swift
  DTOs/Sources/AuthServiceDTOs/UserProfileUpdateDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterSummaryResponseDTO.swift
  DTOs/Sources/RideServiceDTOs/GetEventRideDTO.swift
  DTOs/Sources/RideServiceDTOs/GetEventRideDetailDTO.swift
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserProfileDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserProfileUpdateDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/PosterSummaryResponseDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/GetEventRideDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/GetEventRideDetailDTO.kt
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Updated service/viewModel for the use of new DTOs
  android/app/src/main/java/net/ipv64/kivop/models/viewModel/UserViewModel.kt
  android/app/src/main/java/net/ipv64/kivop/services/api/AuthApi.kt
Due: none

fixed email verification bug
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/AlmostDonePage.kt
Due: none

updated IconTextField
  android/app/src/main/java/net/ipv64/kivop/components/IconTextField.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/AttendancesCoordinationPage.kt
Due: none

updated IconTextField
  android/app/src/main/java/net/ipv64/kivop/components/IconTextField.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/UserPage.kt
Due: none

patched imgPicker
  android/app/src/main/java/net/ipv64/kivop/components/IconTextField.kt
  android/app/src/main/java/net/ipv64/kivop/components/ImgPicker.kt
  android/app/src/main/java/net/ipv64/kivop/models/viewModel/UserViewModel.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/UserPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/RegisterPage.kt
Due: none

Format
  android/app/src/main/java/net/ipv64/kivop/components/IconTextField.kt
  android/app/src/main/java/net/ipv64/kivop/models/viewModel/UserViewModel.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/AttendancesCoordinationPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/UserPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/AlmostDonePage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/RegisterPage.kt
  android/app/src/main/java/net/ipv64/kivop/services/api/AuthApi.kt
Due: none

Kleinigkeiten in den Umfragen verbessert - Einheitlich "Absitmmungen" - Optionen werden jetzt automatisch hinzugefügt - Farben sind nun die gleichen wie bei den Umfragen - @30078
  kivopadmin/kivopadmin/Utils/PieChartView.swift
  kivopadmin/kivopadmin/Views/Voting/AktivView.swift
  kivopadmin/kivopadmin/Views/Voting/CreateVotingView.swift
  kivopadmin/kivopadmin/Views/Voting/EditVotingView.swift
Due: none

Wichtige Bug Fixes: Unterschiedliche Protokollanten werden angezeigt. Es werden nun auch Abstimmungen angezeigt, die noch nicht abgeschlossen sind. - #457 - @30038
  KIVoP-ios/KIVoP-ios/API/IdentityManager.swift
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Meeting/Meeting-MeetingDetail.swift
  KIVoP-ios/KIVoP-ios/Views/Protokolle/MarkdownEditorView.swift
Due: none

Fix
  KIVoP-ios/KIVoP-ios/API/IdentityManager.swift
Due: none

In den Custom iOS Target Properties wurde FaceID ergänzt
  KIVoP-ios/KIVoP-ios.xcodeproj/project.pbxproj
Due: none

Bug Fixes. Erste Routen Events - #451 - @30038
  kivopadmin/kivopadmin/BackendController/MeetingManager.swift
  kivopadmin/kivopadmin/Views/Events/EventsMainView.swift
  kivopadmin/kivopadmin/Views/Events/ViewModel/EventViewModel.swift
  kivopadmin/kivopadmin/Views/Events/Views/EventDetailView.swift
  kivopadmin/kivopadmin/Views/MainPage/CurrentMeetingBottomView.swift
  kivopadmin/kivopadmin/Views/MainPage/MainPage.swift
  kivopadmin/kivopadmin/Views/MeetingService/CreateMeetingView.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingAdminView.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDateilAdminView.swift
Due: none

Die Events wurden aus der MainPage übersicht temporär entfernt
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage.swift
Due: none

Mark EventRides in MyRidesList
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Ride/Components/MyRidesList.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideMap/SelectRideLocation.swift
Due: none

Adding EventRideView
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Ride/EventRideView/EventRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EventRideView/EventRideViewModel.swift
Due: none

Update MarkdownEditorView.swift - #462 - @30038
  KIVoP-ios/KIVoP-ios/Views/Protokolle/MarkdownEditorView.swift
Due: none

DTOs: `iAmTheRecorder` zu GetRecordDTO hinzugefügt
  DTOs/Sources/MeetingServiceDTOs/GetRecordDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/MeetingServiceDTOs/GetRecordDTO.kt
Due: none

Sitzung-Service: `iAmTheRecorder` wird nun befüllt - Im GetRecordDTO - #465
  backend/meeting-service/Sources/App/Controllers/RecordController.swift
  backend/meeting-service/Sources/App/Models/Record.swift
Due: build-backend-docker-image-meeting-service

All functions for EventRideView
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Ride/EventRideView/EventRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EventRideView/EventRideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideDetailView/RideDetailView.swift
Due: none

Bild und name der CDU Datteln hinzugefügt
  KIVoP-ios/KIVoP-ios/Assets.xcassets/cdu_datteln.imageset/Contents.json
  KIVoP-ios/KIVoP-ios/Assets.xcassets/cdu_datteln.imageset/cdu_datteln.jpg
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding-Wait.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding.swift
Due: none

Name angepasst
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding-Wait.swift
Due: none

iOS: Vereinslogo abgerundet - Im Onboarding und in der Profilansicht - War in der Profilansicht vorher cornerRadius (deprecated)
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding.swift
Due: none

Inline email styles and image to improve compatibility
  backend/notifications-service/Public/logo.png
  backend/notifications-service/Resources/Views/layout.leaf
Due: build-backend-docker-image-notifications-service

Change email HTML title based on email subject
  backend/notifications-service/Resources/Views/layout.leaf
  backend/notifications-service/Sources/App/Services/Email.swift
Due: build-backend-docker-image-notifications-service

DTOs: PosterPosition damage-Status Anpassungen - #467
  DTOs/Sources/PosterServiceDTOs/PosterPositionResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterSummaryResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/ReportDamagePosterPositionDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services
