Repository IAmMajo/Pleno: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dto-swiftkotlin, build-backend-docker-image-config-service, build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-notifications-service, build-backend-docker-image-all-services

Path conditions:
  dto-swiftkotlin: any of: DTOs/Sources/**/*, translate-dtos.sh
  build-backend-docker-image-config-service: any of: backend/config-service/**/*
  build-backend-docker-image-auth-service: any of: backend/auth-service/**/*
  build-backend-docker-image-meeting-service: any of: backend/meeting-service/**/*
  build-backend-docker-image-notifications-service: any of: backend/notifications-service/**/*
  build-backend-docker-image-all-services: any of: backend/models/**/*, DTOs/**/*

Bug fix , OpenApi angepasst
  backend/poster-service/Sources/App/Controllers/PosterController.swift
  docker-compose.yml
Due: none

DTO-Translator: Data-Übersetzung angepasst - Außerdem Restbestände gelöscht - #323
  translate-dtos.sh
Due: dto-swiftkotlin

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserProfileDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserProfileUpdateDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserRegistrationDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/CreatePosterDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/HangPosterPositionDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/TakeDownPosterPositionDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/UpdatePosterDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/UpdatePosterPositionDTO.kt
Due: none

Onbaording überarbeitet und und Websocket eingepflegt
  kivopadmin/kivopadmin/API/MainPageAPI.swift
  kivopadmin/kivopadmin/Assets.xcassets/AppIcon.appiconset/Contents.json
  kivopadmin/kivopadmin/Assets.xcassets/AppIcon.appiconset/PlenoDark.png
  kivopadmin/kivopadmin/Assets.xcassets/AppIcon.appiconset/PlenoLogoDark (1).png
  kivopadmin/kivopadmin/Assets.xcassets/AppIcon.appiconset/PlenoLogoLight.jpg
  kivopadmin/kivopadmin/Assets.xcassets/AppIcon.appiconset/PlenoLogoLight.png
  kivopadmin/kivopadmin/Assets.xcassets/Onboarding1.imageset/unDraw1 1.png
  kivopadmin/kivopadmin/Assets.xcassets/Onboarding2.imageset/Onboarding2.png
  kivopadmin/kivopadmin/Assets.xcassets/onboarding1.imageset/Contents.json
  kivopadmin/kivopadmin/Assets.xcassets/onboarding1.imageset/onboarding1.png
  kivopadmin/kivopadmin/Assets.xcassets/onboarding2.imageset/Contents.json
  kivopadmin/kivopadmin/Assets.xcassets/onboarding2.imageset/onboarding2.png
  kivopadmin/kivopadmin/Utils/WebSocketManager.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDateilAdminView.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/PendingRequest.swift
  kivopadmin/kivopadmin/Views/Onboarding/Onboarding.swift
  kivopadmin/kivopadmin/Views/Voting/AktivView.swift
  kivopadmin/kivopadmin/Views/Voting/VotingDetailView.swift
Due: none

Adding Ride View - hinzufügen der ersten paar Views für Rides - änderung der NavBar bei den Anwesenheiten - #309
  KIVoP-ios/KIVoP-ios.xcodeproj/project.pbxproj
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Attendance/AttendanceView.swift
  KIVoP-ios/KIVoP-ios/Views/Attendance/CurrentView/AttendanceCurrentView.swift
  KIVoP-ios/KIVoP-ios/Views/Attendance/DetailView/AttendanceDetailView.swift
  KIVoP-ios/KIVoP-ios/Views/Attendance/PlanningView/AttendancePlanningView.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EventRideView/EventRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EventRideView/EventRideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/NewRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/NewRideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/SpecialRideView/SpecialRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/SpecialRideView/SpecialRideViewModel.swift
  kivopadmin/kivopadmin.xcodeproj/project.pbxproj
Due: none

Auth-Service: Universal-Link Unterstützung - UniversalLinkController hinzugefügt - Android WellKnown-Datei hinzugefügt - OpenAPI-Dokumentation ergänzt und vorbereitet (auf Apple)
  backend/auth-service/Resources/UniversalLinks/android.json
  backend/auth-service/Sources/App/Controllers/UniversalLinkController.swift
  backend/auth-service/Sources/App/routes.swift
  backend/docker-compose.yml
  docker-compose.yml
Due: build-backend-docker-image-auth-service

neue Modelle angelegt - #318
  backend/models/Sources/Models/ride-service/EventParticipant.swift
  backend/models/Sources/Models/ride-service/EventRide.swift
  backend/models/Sources/Models/ride-service/EventRideInteresedParty.swift
  backend/models/Sources/Models/ride-service/EventRideRequest.swift
  backend/models/Sources/Models/ride-service/PlenoEvent.swift
  backend/models/Sources/Models/ride-service/SpecialRide.swift
  backend/models/Sources/Models/ride-service/SpecialRideRequest.swift
Due: build-backend-docker-image-all-services

Migrations fuer neue Modelle erstellt - #318
  backend/ride-service/Sources/App/Migrations/CreateEventParticipant.swift
  backend/ride-service/Sources/App/Migrations/CreateEventRide.swift
  backend/ride-service/Sources/App/Migrations/CreateEventRideInterestedParty.swift
  backend/ride-service/Sources/App/Migrations/CreateEventRideRequest.swift
  backend/ride-service/Sources/App/Migrations/CreatePlenoEvent.swift
  backend/ride-service/Sources/App/Migrations/CreateSpecialRide.swift
  backend/ride-service/Sources/App/Migrations/CreateSpecialRideRequest.swift
Due: none

Funktionen wurden angepasst - anstatt join nun with - Email-Verifizierung erstellt nun nicht mehr ein neuen Eintrag, sondern ändert nur den Code falls nötig - #326
  backend/auth-service/Sources/App/Controllers/UserController.swift
Due: build-backend-docker-image-auth-service

Funktionen angepasst - #326
  backend/auth-service/Sources/App/Controllers/UserController.swift
Due: build-backend-docker-image-auth-service

Nutzerverwaltung angepasst - MainPageAPI ergänzt um alle Daten abzufragen - Nutzungsverwaltung listet alle User auf - Beim Klick auf das Profilbild werden die Daten einzelner User angezeigt - 30078
  kivopadmin/kivopadmin/API/MainPageAPI.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserManagement.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserPopUp.swift
Due: none

Migration angepasst - Der Code ist unique - beim Löschen des Users wird auch die Email-Verifizierung gelöscht - #327
  backend/auth-service/Sources/App/Migrations/CreateEmailVerification.swift
Due: build-backend-docker-image-auth-service

Protokollant kann ausgewählt werden. Wird mit Backend synchronisiert. - @30038 @30078 - #317
  kivopadmin/kivopadmin/API/MainPageAPI.swift
  kivopadmin/kivopadmin/BackendController/UserManager.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDateilAdminView.swift
  kivopadmin/kivopadmin/Views/Posters/Posters_AddPositionView.swift
Due: none

Fix DTO-Changes
  kivopadmin/kivopadmin/API/MainPageAPI.swift
  kivopadmin/kivopadmin/Assets.xcassets/AppIcon.appiconset/Contents.json
  kivopadmin/kivopadmin/Assets.xcassets/AppIcon.appiconset/PlenoDark.png
  kivopadmin/kivopadmin/Assets.xcassets/AppIcon.appiconset/PlenoLogoDark (1).png
  kivopadmin/kivopadmin/Assets.xcassets/AppIcon.appiconset/PlenoLogoLight.jpg
  kivopadmin/kivopadmin/Assets.xcassets/AppIcon.appiconset/PlenoLogoLight.png
  kivopadmin/kivopadmin/Assets.xcassets/Onboarding1.imageset/unDraw1 1.png
  kivopadmin/kivopadmin/Assets.xcassets/Onboarding2.imageset/Onboarding2.png
  kivopadmin/kivopadmin/Assets.xcassets/onboarding1.imageset/Contents.json
  kivopadmin/kivopadmin/Assets.xcassets/onboarding1.imageset/onboarding1.png
  kivopadmin/kivopadmin/Assets.xcassets/onboarding2.imageset/Contents.json
  kivopadmin/kivopadmin/Assets.xcassets/onboarding2.imageset/onboarding2.png
  kivopadmin/kivopadmin/Utils/PieChartView.swift
  kivopadmin/kivopadmin/Utils/WebSocketManager.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDateilAdminView.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/PendingRequest.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserManagement.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserPopUp.swift
  kivopadmin/kivopadmin/Views/Onboarding/Onboarding.swift
  kivopadmin/kivopadmin/Views/Voting/AbgeschlossenView.swift
  kivopadmin/kivopadmin/Views/Voting/AktivView.swift
  kivopadmin/kivopadmin/Views/Voting/VotingDetailView.swift
Due: none

DTO-Änderungen und Passwort vergessen umgesetzt
  kivopadmin/kivopadmin/API/OnboardingAPI.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/PendingRequest.swift
  kivopadmin/kivopadmin/Views/Onboarding/ForgotPasswordView.swift
  kivopadmin/kivopadmin/Views/Onboarding/Onboarding-Login.swift
Due: none

Passwort vergessen Funktion an neuen DTOs angepasst - 30078
  KIVoP-ios/KIVoP-ios/API/OnboardingAPI.swift
  KIVoP-ios/KIVoP-ios/Utils/PieChartView.swift
Due: none

RideServiceMainView hinzugefügt
  kivopadmin/kivopadmin/Views/RideService/RideServiceMainView.swift
Due: none

add Function to start a new ride for special or event ride - just as Prototype - #309
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/Components/CreateEventRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/Components/CreateSpecialRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/NewRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/NewRideViewModel.swift
Due: none

Beschreibung beim Abstimmen hinzugefügt, Bugs gefixed, Websocket eingebunden (noch nicht sichtbar)
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingLiveStatusView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/WebSocketManager.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VoteView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingResultView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingRowView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingsSectionView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/VotingsView.swift
Due: none

Sitzung-Service: Fix - Fehlender Eager Load hinzugefügt (Record.toGetRecordDTO) - Außerdem **ClientWebSocketContainer** in neuen Ordner _Misc_ verschoben - Nachtrag zu #312
  backend/meeting-service/Sources/App/Misc/ClientWebSocketContainer.swift
  backend/meeting-service/Sources/App/Models/Record.swift
Due: build-backend-docker-image-meeting-service

Finished Login/Register Screen - updated api calls - updated img helper
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/net/ipv64/kivop/MainActivity.kt
  android/app/src/main/java/net/ipv64/kivop/components/ImgPicker.kt
  android/app/src/main/java/net/ipv64/kivop/components/ProfileCard.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserRegistrationDTO.kt
  android/app/src/main/java/net/ipv64/kivop/models/viewModel/UserViewModel.kt
  android/app/src/main/java/net/ipv64/kivop/pages/SplashActivity.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/HomePage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/UserPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/VotingResultPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/AlmostDonePage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/DescriptionOnePage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/DescriptionTwoPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/LoginActivity.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/LoginPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/OnboardingNavPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/RegisterPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/WelcomePage.kt
  android/app/src/main/java/net/ipv64/kivop/services/AuthController.kt
  android/app/src/main/java/net/ipv64/kivop/services/api/AuthApi.kt
  android/app/src/main/java/net/ipv64/kivop/services/api/VotingsApi.kt
  android/app/src/main/java/net/ipv64/kivop/services/imgHelper.kt
  android/app/src/main/res/drawable/onboardingscreen1.xml
  android/app/src/main/res/drawable/onboardingscreen2.xml
  android/app/src/main/res/drawable/onboardingscreen3.xml
  android/app/src/main/res/values-en/strings.xml
  android/app/src/main/res/values/strings.xml
Due: none

email always lowercase
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/LoginPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/RegisterPage.kt
Due: none

Removed local changes from DTO
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserRegistrationDTO.kt
Due: none

Format
  android/app/src/main/java/net/ipv64/kivop/MainActivity.kt
  android/app/src/main/java/net/ipv64/kivop/components/CustomInputField.kt
  android/app/src/main/java/net/ipv64/kivop/models/viewModel/UserViewModel.kt
  android/app/src/main/java/net/ipv64/kivop/pages/SplashActivity.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/HomePage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/AlmostDonePage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/DescriptionOnePage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/DescriptionTwoPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/LoginActivity.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/LoginPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/OnboardingNavPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/RegisterPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/Screen.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/StartPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/WelcomePage.kt
  android/app/src/main/java/net/ipv64/kivop/services/AuthController.kt
  android/app/src/main/java/net/ipv64/kivop/services/api/AuthApi.kt
  android/app/src/main/java/net/ipv64/kivop/services/api/UserApi.kt
  android/app/src/main/java/net/ipv64/kivop/services/api/VotingsApi.kt
Due: none

Votings: Bug fixes, Websocket eingebunden
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingLiveStatusView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingResultView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingRowView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingsSectionView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/VotingsView.swift
Due: none

Datentyp von int zu uint8 - #318
  backend/models/Sources/Models/ride-service/EventRide.swift
  backend/models/Sources/Models/ride-service/SpecialRide.swift
  backend/ride-service/Sources/App/Migrations/CreateEventRide.swift
  backend/ride-service/Sources/App/Migrations/CreateSpecialRide.swift
Due: build-backend-docker-image-all-services

Poster url angepasst inkls. Openapi
  backend/config-service/Sources/App/Controllers/ConfigController.swift
  backend/poster-service/Sources/App/Controllers/PosterController.swift
Due: build-backend-docker-image-config-service

Create Ride Prototyp finalisiert - Standortpicker fehlt noch -> macht Adrian gerade noch - Abfangen falls nicht alle Felder ausgefüllt sind
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/Components/CreateEventRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/Components/CreateSpecialRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/NewRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/NewRideViewModel.swift
Due: none

erste Entwicklungsversion vom SpecialCideController - #318
  backend/ride-service/Sources/App/Controllers/SpecialRideController.swift
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_GetSpecialRideDTO.swift
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_GetSpecialRideDetailDTO.swift
  backend/ride-service/Sources/App/Extensions/Models/Ext_SpecialRide.swift
  backend/ride-service/Sources/App/tmp/CreateSpecialRideDTO.swift
  backend/ride-service/Sources/App/tmp/GetSpecialRideDTO.swift
  backend/ride-service/Sources/App/tmp/GetSpecialRideDetailDTO.swift
  backend/ride-service/Sources/App/tmp/PatchSpecialRideDTO.swift
Due: none

Routen und Migrations fuer SpecialRideController hinzu - temporaer: config-service deaktiviert - temporaer: openAPI Doku deaktiviert - #318
  backend/ride-service/Package.resolved
  backend/ride-service/Package.swift
  backend/ride-service/Sources/App/Controllers/RideController.swift
  backend/ride-service/Sources/App/Middleware/AdminMiddleware.swift
  backend/ride-service/Sources/App/Middleware/AuthMiddleware.swift
  backend/ride-service/Sources/App/configure.swift
  backend/ride-service/Sources/App/routes.swift
Due: none

neuer Prefix fuer SpecialRides - #318
  backend/docker-compose.yml
  docker-compose.yml
Due: none

ein DTO vergessen - #318
  backend/ride-service/Sources/App/tmp/GetSpecialRideDetailDTO.swift
Due: none

fix dto - #318
  backend/ride-service/Sources/App/tmp/GetRiderDTO.swift
Due: none

added poster pages and components
  android/app/src/main/java/net/ipv64/kivop/MainActivity.kt
  android/app/src/main/java/net/ipv64/kivop/Screen.kt
  android/app/src/main/java/net/ipv64/kivop/components/MultiProgressBar.kt
  android/app/src/main/java/net/ipv64/kivop/components/PosterInfoCard.kt
  android/app/src/main/java/net/ipv64/kivop/models/PosterNeedDTO.kt
  android/app/src/main/java/net/ipv64/kivop/models/viewModel/PostersViewModel.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/PostersListPage.kt
  android/app/src/main/res/raw/raw.txt
Due: none

Profilbild anpassungen - Bilder aus der Cloud machen keine Probleme - Profilbilder können problemlos gelöscht werden - 30078
  KIVoP-ios/KIVoP-ios/API/MainPageAPI.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView-ProfilPicture.swift
Due: none

Small bug fix in login
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/net/ipv64/kivop/pages/SplashActivity.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/LoginPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/OnboardingNavPage.kt
Due: none

added API to Ride - fetch SpecialRides - create SpecialRide - #309
  DTOs/Sources/RideServiceDTOs/CreateSpecialRideDTO.swift
  DTOs/Sources/RideServiceDTOs/GetRiderDTO.swift
  DTOs/Sources/RideServiceDTOs/GetSpecialRideDTO.swift
  DTOs/Sources/RideServiceDTOs/GetSpecialRideDetailDTO.swift
  DTOs/Sources/RideServiceDTOs/PatchSpecialRideDTO.swift
  KIVoP-ios/KIVoP-ios/API/RideManager.swift
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Ride/Components/EventList.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/Components/RideList.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EventRideView/EventRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EventRideView/EventRideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/Components/CreateEventRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/Components/CreateSpecialRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/NewRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/NewRideView/NewRideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/SpecialRideView/RideDetailView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/SpecialRideView/RideDetailViewModel.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Websocketverbindung - Websocket-Verbindung in der AktivView umgesetzt
  kivopadmin/kivopadmin/Utils/WebSocketManager.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDateilAdminView.swift
  kivopadmin/kivopadmin/Views/Voting/AktivView.swift
  kivopadmin/kivopadmin/Views/Voting/VotingDetailView.swift
Due: none

VotingResultView Design angepasst
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingLiveStatusView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingResultView.swift
Due: none

Zwischenstand zum Fixen von Bugs
  KIVoP-ios/KIVoP-ios/API/MainPageAPI.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/WebSocketManager.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingRowView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingsSectionView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/VotingsView.swift
Due: none
