Repository IAmMajo/Pleno: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dto-swiftkotlin, build-backend-docker-image-config-service, build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-notifications-service, build-backend-docker-image-all-services

Path conditions:
  dto-swiftkotlin: any of: DTOs/Sources/**/*, translate-dtos.sh
  build-backend-docker-image-config-service: any of: backend/config-service/**/*
  build-backend-docker-image-auth-service: any of: backend/auth-service/**/*
  build-backend-docker-image-meeting-service: any of: backend/meeting-service/**/*
  build-backend-docker-image-notifications-service: any of: backend/notifications-service/**/*
  build-backend-docker-image-all-services: any of: backend/models/**/*, DTOs/**/*

#59 changed Buttons
  android/app/src/main/java/com/example/kivopandriod/components/PopupCallToConfirmation.kt
  android/app/src/main/java/net/ipv64/kivop/components/PopupCallToConfirmation.kt
  android/app/src/main/java/net/ipv64/kivop/ui/theme/Color.kt
Due: none

#59 changed color names
  android/app/src/main/java/net/ipv64/kivop/components/PopupCallToConfirmation.kt
  android/app/src/main/java/net/ipv64/kivop/ui/theme/Color.kt
Due: none

Format
  android/app/src/main/java/net/ipv64/kivop/components/PopupCallToConfirmation.kt
  android/app/src/main/java/net/ipv64/kivop/ui/theme/Color.kt
Due: none

Enum VerificationStatus: Korrigiert - #296
  DTOs/Sources/AuthServiceDTOs/UserEmailVerificationDTO.swift
  DTOs/Sources/MeetingServiceDTOs/GetAttendanceDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserEmailVerificationDTO.kt
Due: none

#184 fixed naming error
  android/app/src/main/java/net/ipv64/kivop/components/PopupCallToConfirmation.kt
Due: none

Format
  android/app/src/main/java/net/ipv64/kivop/components/PopupCallToConfirmation.kt
Due: none

Registrierung und weitere kleine Aenderungen - Passwort regeln angeben - Fehler unter den Textfeldern ausgeben - Onboarding neue Bilder - Swipe Down in Onboardig-Wait View - Icon eingefügt
  KIVoP-ios/KIVoP-ios/Assets.xcassets/AppIcon.appiconset/Contents.json
  KIVoP-ios/KIVoP-ios/Assets.xcassets/AppIcon.appiconset/PlenoLogoDark (1).png
  KIVoP-ios/KIVoP-ios/Assets.xcassets/Onboarding1.imageset/unDraw1 1.png
  KIVoP-ios/KIVoP-ios/Assets.xcassets/Onboarding2.imageset/Onboarding2.png
  KIVoP-ios/KIVoP-ios/Assets.xcassets/onboarding1.imageset/Contents.json
  KIVoP-ios/KIVoP-ios/Assets.xcassets/onboarding1.imageset/onboarding1.png
  KIVoP-ios/KIVoP-ios/Assets.xcassets/onboarding2.imageset/Contents.json
  KIVoP-ios/KIVoP-ios/Assets.xcassets/onboarding2.imageset/onboarding2.png
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView-Password.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/ForgotPasswordView.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding-Login.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding-Wait.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding.swift
Due: none

Protokolle: LanguageCode-Prüfung implementiert - Außerdem meldet der VotingStatus-WebSocket nun auch beim Verbinden die Teilnehmerquote - #298
  backend/meeting-service/Sources/App/Controllers/MeetingController.swift
  backend/meeting-service/Sources/App/Controllers/RecordController.swift
  backend/meeting-service/Sources/App/Controllers/VotingController.swift
Due: build-backend-docker-image-meeting-service

Funktionalität für Passwortempfehlung und Einmalcode erkennung - Leider fehlt uns eine Apple Developer Lizenz um das umzusetzen - Vorbereitung dafür wurde aber abgeschlossen - 30078
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView-Password.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/ForgotPasswordView.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding-Register.swift
Due: none

Create ai-service - #302
  backend/ai-service/.dockerignore
  backend/ai-service/.gitignore
  backend/ai-service/Dockerfile
  backend/ai-service/Package.swift
  backend/ai-service/Public/swagger/favicon-16x16.png
  backend/ai-service/Public/swagger/favicon-32x32.png
  backend/ai-service/Public/swagger/index.css
  backend/ai-service/Public/swagger/index.html
  backend/ai-service/Public/swagger/oauth2-redirect.html
  backend/ai-service/Public/swagger/swagger-initializer.js
  backend/ai-service/Public/swagger/swagger-ui-bundle.js
  backend/ai-service/Public/swagger/swagger-ui-bundle.js.map
  backend/ai-service/Public/swagger/swagger-ui-es-bundle-core.js
  backend/ai-service/Public/swagger/swagger-ui-es-bundle-core.js.map
  backend/ai-service/Public/swagger/swagger-ui-es-bundle.js
  backend/ai-service/Public/swagger/swagger-ui-es-bundle.js.map
  backend/ai-service/Public/swagger/swagger-ui-standalone-preset.js
  backend/ai-service/Public/swagger/swagger-ui-standalone-preset.js.map
  backend/ai-service/Public/swagger/swagger-ui.css
  backend/ai-service/Public/swagger/swagger-ui.css.map
  backend/ai-service/Public/swagger/swagger-ui.js
  backend/ai-service/Public/swagger/swagger-ui.js.map
  backend/ai-service/Sources/App/Controllers/WebhookController.swift
  backend/ai-service/Sources/App/DTOs/.gitkeep
  backend/ai-service/Sources/App/Migrations/.gitkeep
  backend/ai-service/Sources/App/Models/.gitkeep
  backend/ai-service/Sources/App/Services/SettingsManager.swift
  backend/ai-service/Sources/App/configure.swift
  backend/ai-service/Sources/App/entrypoint.swift
  backend/ai-service/Sources/App/routes.swift
  backend/ai-service/Tests/AppTests/AppTests.swift
  backend/docker-compose.yml
Due: none

Comment out not-yet-existing AiServiceDTOs - #302
  backend/ai-service/Package.swift
Due: none

Add Package.resolved - #302
  backend/ai-service/Package.resolved
Due: none

Remove migrate and revert because ai-service has no own database tables - #302
  backend/ai-service/Sources/App/Migrations/.gitkeep
  backend/ai-service/Sources/App/Models/.gitkeep
  backend/ai-service/Tests/AppTests/AppTests.swift
  backend/docker-compose.yml
Due: none

Add ai-service to top-level docker-compose.yaml - #302
  backend/docker-compose.yml
  docker-compose.yml
Due: none

Fix build - #302
  backend/_service-template/Package.swift
  backend/_service-template/Sources/App/Controllers/WebhookController.swift
  backend/_service-template/Sources/App/Services/SettingsManager.swift
  backend/ai-service/Package.swift
  backend/ai-service/Sources/App/Controllers/WebhookController.swift
  backend/ai-service/Sources/App/Services/SettingsManager.swift
Due: none

GetRecordDTO: Appendizes hinzugefügt
  DTOs/Sources/MeetingServiceDTOs/GetRecordDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/MeetingServiceDTOs/GetRecordDTO.kt
Due: none

Map Position fixed, added Waze as navigation app option, copy coordinates button, copy text fixed
  KIVoP-ios/KIVoP-ios.xcodeproj/project.pbxproj
  KIVoP-ios/KIVoP-ios/Info.plist
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Posters/Components/FullMapView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/Components/MapView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/Components/SelectableTextView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/Posters-PositionView.swift
Due: none

Add AISendMessageDTO.swift - #308
  DTOs/Package.swift
  DTOs/Sources/AIServiceDTOs/AISendMessageDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/AIServiceDTOs/AISendMessageDTO.kt
Due: none

Fix config-service-url - #302
  backend/_service-template/Sources/App/configure.swift
  backend/ai-service/Sources/App/configure.swift
Due: none

Add extend-record route - #303
  .env.example
  backend/ai-service/Package.swift
  backend/ai-service/Resources/Prompts/extend-record.md
  backend/ai-service/Sources/App/Controllers/AIController.swift
  backend/ai-service/Sources/App/DTOs/.gitkeep
  backend/ai-service/Sources/App/DTOs/AISendMessageDTO.swift
  backend/ai-service/Sources/App/routes.swift
  backend/docker-compose.yml
Due: none

Add generate-social-media-post route - #304
  backend/ai-service/Resources/Prompts/generate-social-media-post.md
  backend/ai-service/Sources/App/Controllers/AIController.swift
  backend/ai-service/Sources/App/Services/AI.swift
Due: none

Poster-service debuggt und in die obere docker-compose geschoben #310
  backend/config-service/Sources/App/Controllers/ConfigController.swift
  backend/config-service/Sources/App/routes.swift
  backend/docker-compose.yml
  backend/models/Sources/Models/poster-service/posterPosition.swift
  backend/poster-service/Dockerfile
  backend/poster-service/Sources/App/Controllers/PosterController.swift
  backend/poster-service/Sources/App/DTOs/CreatePosterPositionDTO.swift
  backend/poster-service/Sources/App/DTOs/DeletePosterDTO.swift
  backend/poster-service/Sources/App/DTOs/HangPosterPositionDTO.swift
  backend/poster-service/Sources/App/DTOs/HangPosterPositionResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/PosterPositionResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/TakeDownPosterPositionDTO.swift
  backend/poster-service/Sources/App/DTOs/TakeDownPosterPositionResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/UpdatePosterPositionDTO.swift
  backend/poster-service/Sources/App/Migrations/CreatePosterPosition.swift
  backend/poster-service/Sources/App/Migrations/CreatePosterPositionResponsibilities.swift
  backend/poster-service/Sources/App/Tasks/DailyCheckTask.swift
  backend/poster-service/Sources/App/configure.swift
  backend/poster-service/Sources/App/routes.swift
  docker-compose.yml
Due: build-backend-docker-image-config-service, build-backend-docker-image-all-services

Config-Service Anbindungen zu jedem Service #315
  backend/ai-service/Sources/App/Controllers/AIController.swift
  backend/ai-service/Sources/App/Controllers/WebhookController.swift
  backend/ai-service/Sources/App/configure.swift
  backend/ai-service/Sources/App/routes.swift
  backend/auth-service/Package.swift
  backend/auth-service/Sources/App/Controllers/WebhookController.swift
  backend/auth-service/Sources/App/Services/SettingsManager.swift
  backend/auth-service/Sources/App/configure.swift
  backend/auth-service/Sources/App/routes.swift
  backend/config-service/Sources/App/Migrations/CreateService.swift
  backend/docker-compose.yml
  backend/meeting-service/Package.swift
  backend/meeting-service/Sources/App/Controllers/WebhookController.swift
  backend/meeting-service/Sources/App/Services/SettingsManager.swift
  backend/meeting-service/Sources/App/configure.swift
  backend/meeting-service/Sources/App/routes.swift
  backend/notifications-service/Package.swift
  backend/notifications-service/Sources/App/Controllers/WebhookController.swift
  backend/notifications-service/Sources/App/Services/SettingsManager.swift
  backend/notifications-service/Sources/App/configure.swift
  backend/notifications-service/Sources/App/routes.swift
  backend/poster-service/Package.swift
  backend/poster-service/Sources/App/DTOs/SettingResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/SettingValueDTO.swift
  backend/poster-service/Sources/App/DTOs/WebhookPayloadDTO.swift
  backend/poster-service/Sources/App/Services/SettingsManager.swift
  backend/poster-service/Sources/App/Tasks/DailyCheckTask.swift
  backend/ride-service/Package.swift
  backend/ride-service/Sources/App/Controllers/WebhookController.swift
  backend/ride-service/Sources/App/Services/SettingsManager.swift
  backend/ride-service/Sources/App/configure.swift
  backend/ride-service/Sources/App/routes.swift
Due: build-backend-docker-image-config-service, build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-notifications-service

fixed voting API
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/APIService.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/MeetingViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingService.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingStateTracker.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/VotingViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VoteView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingResultView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingRowView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingsSectionView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/VotingsView.swift
Due: none

Kommentare ergänzt
  app/src/main/java/com/example/kivopandriod/components/ProfilCardTiny.kt
Due: none

Protokollant kann jetzt ausgewählt werden. - @30038 - #317
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDateilAdminView.swift
Due: none

Funktionen anpassen - Alternative Verifizierung möglich - Bessere Login-Fehlermeldung - User-Liste angepasst
  backend/auth-service/Sources/App/Controllers/AuthController.swift
  backend/auth-service/Sources/App/Controllers/UserController.swift
  backend/auth-service/Sources/App/DTOs/UserEmailVerificationDTO.swift
  backend/auth-service/Sources/App/DTOs/UserProfileDTO.swift
Due: build-backend-docker-image-auth-service

Funktionen angepasst - #319
  backend/auth-service/Sources/App/Controllers/AuthController.swift
Due: build-backend-docker-image-auth-service

DTO angepasst - #320
  DTOs/Sources/AuthServiceDTOs/UserEmailVerificationDTO.swift
  DTOs/Sources/AuthServiceDTOs/UserProfileDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserEmailVerificationDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserProfileDTO.kt
Due: none

WebSocketManger hinzugefügt, vote für Enthaltung gefixed
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingLiveStatusView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingService.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/WebSocketManager.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VoteView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingResultView.swift
Due: none

Loginfunktion angepasst - #321
  backend/auth-service/Sources/App/Controllers/AuthController.swift
Due: build-backend-docker-image-auth-service

GetVotingResultsDTO: Ergänzt - `totalCount` ergänzt - **GetVotingResultDTO**: `total` zu `count` umbenannt - #322
  DTOs/Sources/MeetingServiceDTOs/GetVotingResultsDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/MeetingServiceDTOs/GetVotingResultsDTO.kt
Due: none

Added the function to register a new account
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/net/ipv64/kivop/components/CustomInputField.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserRegistrationDTO.kt
  android/app/src/main/java/net/ipv64/kivop/pages/SplashActivity.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/AlmostDonePage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/DescriptionOnePage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/DescriptionTwoPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/LoginActivity.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/LoginPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/OnboardingNavPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/RegisterPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/Screen.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/StartPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/onboarding/WelcomePage.kt
  android/app/src/main/java/net/ipv64/kivop/services/AuthController.kt
  android/app/src/main/java/net/ipv64/kivop/services/api/AuthApi.kt
  android/app/src/main/java/net/ipv64/kivop/services/api/UserApi.kt
  android/app/src/main/java/net/ipv64/kivop/services/imgHelper.kt
  android/app/src/main/java/net/ipv64/kivop/ui/theme/Color.kt
Due: none
