Repository IAmMajo/Pleno: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dto-swiftkotlin, build-backend-docker-image-config-service, build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-notifications-service, build-backend-docker-image-all-services

Path conditions:
  dto-swiftkotlin: any of: DTOs/Sources/**/*, translate-dtos.sh
  build-backend-docker-image-config-service: any of: backend/config-service/**/*
  build-backend-docker-image-auth-service: any of: backend/auth-service/**/*
  build-backend-docker-image-meeting-service: any of: backend/meeting-service/**/*
  build-backend-docker-image-notifications-service: any of: backend/notifications-service/**/*
  build-backend-docker-image-all-services: any of: backend/models/**/*, DTOs/**/*

events abfragen, anlegen, updaten und loeschen hinzu - #318
  backend/ride-service/Sources/App/Controllers/EventController.swift
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_GetEventDTO.swift
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_GetEventDetailDTO.swift
  backend/ride-service/Sources/App/Extensions/Models/Ext_PlenoEvent.swift
  backend/ride-service/Sources/App/routes.swift
Due: none

Rechtschreibfehler behoben
  backend/ride-service/Sources/App/Controllers/SpecialRideController.swift
Due: none

Standort auf Karte auswählen
  kivopadmin/kivopadmin/Views/Events/SelectPlaceView.swift
  kivopadmin/kivopadmin/Views/Posters/Posters_AddPositionView.swift
Due: none

Anpassungen an der Karte - #363 - @30038
  kivopadmin/kivopadmin/Views/Events/SelectPlaceView.swift
Due: none

fix longitude - #318
  backend/ride-service/Sources/App/Controllers/EventController.swift
Due: none

Backend: Replikator-Skript nachgebessert - Nun werden auch in der obersten docker-compose.yml die neuen PSQL-Umgebungsvariablen ergänzt - Nachbesserung zu #332
  backend/_service-template/replicate.sh
  docker-compose.yml
Due: none

Datenschutzerklärung angepasst und erweitert - @30078
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding-Register.swift
Due: none

VotingResultView: Beschreibung nur anzeigen, wenn vorhanden; neue Abstimmungs-Ergebnis Farbpalette, inkl. Legende
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Utils/PieChartView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/PieChartView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingResultView.swift
Due: none

VoteView: Fehlermeldung fürs Abstimmen, falls nicht an der Sitzung teilgenommen wurde
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingService.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VoteView.swift
Due: none

DTO Extensions ausgelagert -> APIService gelöscht
  KIVoP-ios/KIVoP-ios/Data/DTOextensions.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/APIService.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingService.swift
Due: none

Files verschoben
  KIVoP-ios/KIVoP-ios/API/VotingService.swift
  KIVoP-ios/KIVoP-ios/API/WebSocketManager.swift
Due: none

Syntax-Fehler behoben - #318
  docker-compose.yml
Due: none

Readd migrate and revert to notifications-service - #48
  backend/docker-compose.yml
  backend/notifications-service/Migrations/.gitkeep
  backend/notifications-service/Models/.gitkeep
  backend/notifications-service/Tests/AppTests/AppTests.swift
Due: build-backend-docker-image-notifications-service

Fix notifications-service Stoplight openAPIPath - #48
  backend/notifications-service/Sources/App/routes.swift
Due: build-backend-docker-image-notifications-service

Make small improvements to email templates - #48
  backend/notifications-service/Public/email/logo.png
  backend/notifications-service/Public/logo.png
  backend/notifications-service/Resources/Views/default.leaf
  backend/notifications-service/Resources/Views/layout.leaf
  backend/notifications-service/Resources/Views/welcome.leaf
Due: build-backend-docker-image-notifications-service

Ticket #369
  backend/poster-service/Dockerfile
  backend/poster-service/Sources/App/Controllers/PosterController.swift
  backend/poster-service/Sources/App/DTOs/PosterSummaryResponseDTO.swift
  backend/poster-service/Sources/App/configure.swift
Due: none

Sitzung View beinhaltet jetzt Abstimmungen + Anwesenheiten - #366 - @30038
  KIVoP-ios/KIVoP-ios/API/VotingManager.swift
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/MainPage/Mainpage-CurrentMeetingBottomView.swift
  KIVoP-ios/KIVoP-ios/Views/Meeting/Meeting-AnwesenheitenView.swift
  KIVoP-ios/KIVoP-ios/Views/Meeting/Meeting-CurrentMeeting.swift
  KIVoP-ios/KIVoP-ios/Views/Meeting/Meeting-MeetingDetail.swift
  KIVoP-ios/KIVoP-ios/Views/Meeting/Meeting-RecordsView.swift
Due: none

Routen für PosterService eingebaut - @30038 - #363
  kivopadmin/kivopadmin.xcodeproj/project.pbxproj
  kivopadmin/kivopadmin/BackendController/MeetingManager.swift
  kivopadmin/kivopadmin/BackendController/PosterManager.swift
  kivopadmin/kivopadmin/Utils/ResizeAndCompressImage.swift
  kivopadmin/kivopadmin/Views/Events/EventsMainView.swift
  kivopadmin/kivopadmin/Views/Events/SelectPlaceView.swift
  kivopadmin/kivopadmin/Views/Posters/PostersMainView.swift
  kivopadmin/kivopadmin/Views/Posters/PostersViewModel.swift
  kivopadmin/kivopadmin/Views/Posters/Posters_AddPositionView.swift
Due: none

VotingsView umgebaut, bug fixes
  KIVoP-ios/KIVoP-ios/Data/DTOextensions.swift
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/PieChartView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingLiveStatusView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VoteView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingResultView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingRowView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingsSectionView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/VotingsView.swift
Due: none

Umfrage-Service: Aus Template erzeugt - Heißt technisch Poll-Service - SettingsManager und WebhookController in Service-Template korrigiert - #333
  .env.example
  backend/config-service/Sources/App/Migrations/CreateService.swift
  backend/docker-compose.yml
  backend/init-dbs.sh
  backend/models/Sources/Models/_misc/OpenAPIInfo.swift
  backend/poll-service/.dockerignore
  backend/poll-service/.gitignore
  backend/poll-service/Dockerfile
  backend/poll-service/Package.resolved
  backend/poll-service/Package.swift
  backend/poll-service/Public/swagger/favicon-16x16.png
  backend/poll-service/Public/swagger/favicon-32x32.png
  backend/poll-service/Public/swagger/index.css
  backend/poll-service/Public/swagger/index.html
  backend/poll-service/Public/swagger/oauth2-redirect.html
  backend/poll-service/Public/swagger/swagger-initializer.js
  backend/poll-service/Public/swagger/swagger-ui-bundle.js
  backend/poll-service/Public/swagger/swagger-ui-bundle.js.map
  backend/poll-service/Public/swagger/swagger-ui-es-bundle-core.js
  backend/poll-service/Public/swagger/swagger-ui-es-bundle-core.js.map
  backend/poll-service/Public/swagger/swagger-ui-es-bundle.js
  backend/poll-service/Public/swagger/swagger-ui-es-bundle.js.map
  backend/poll-service/Public/swagger/swagger-ui-standalone-preset.js
  backend/poll-service/Public/swagger/swagger-ui-standalone-preset.js.map
  backend/poll-service/Public/swagger/swagger-ui.css
  backend/poll-service/Public/swagger/swagger-ui.css.map
  backend/poll-service/Public/swagger/swagger-ui.js
  backend/poll-service/Public/swagger/swagger-ui.js.map
  backend/poll-service/Sources/App/Controllers/WebhookController.swift
  backend/poll-service/Sources/App/DTOs/.gitkeep
  backend/poll-service/Sources/App/Migrations/.gitkeep
  backend/poll-service/Sources/App/Models/.gitkeep
  backend/poll-service/Sources/App/Services/SettingsManager.swift
  backend/poll-service/Sources/App/configure.swift
  backend/poll-service/Sources/App/entrypoint.swift
  backend/poll-service/Sources/App/routes.swift
  backend/poll-service/Tests/AppTests/AppTests.swift
  docker-compose.yml
Due: build-backend-docker-image-config-service, build-backend-docker-image-all-services

Delete unused welcome email template - #48
  backend/notifications-service/Resources/Views/layout.leaf
  backend/notifications-service/Resources/Views/welcome.leaf
Due: build-backend-docker-image-notifications-service

Umfrage-Service: Models und Migrations angelegt - Überflüssige .gitkeep-Dateien entfernt - #374 (#333)
  backend/auth-service/Sources/App/DTOs/.gitkeep
  backend/config-service/Sources/App/Controllers/.gitkeep
  backend/config-service/Sources/App/DTOs/.gitkeep
  backend/config-service/Sources/App/Migrations/.gitkeep
  backend/config-service/Sources/App/Migrations/CreateService.swift
  backend/config-service/Sources/App/Models/.gitkeep
  backend/meeting-service/Sources/App/Controllers/.gitkeep
  backend/meeting-service/Sources/App/Migrations/CreateVoting.swift
  backend/models/Sources/Models/poll-service/Poll.swift
  backend/models/Sources/Models/poll-service/PollVote.swift
  backend/models/Sources/Models/poll-service/PollVotingOption.swift
  backend/poll-service/Sources/App/Migrations/.gitkeep
  backend/poll-service/Sources/App/Migrations/CreatePoll.swift
  backend/poll-service/Sources/App/Migrations/CreatePollVote.swift
  backend/poll-service/Sources/App/Migrations/CreatePollVotingOption.swift
  backend/poll-service/Sources/App/configure.swift
  backend/poster-service/Sources/App/Controllers/.gitkeep
  backend/poster-service/Sources/App/DTOs/.gitkeep
  backend/poster-service/Sources/App/Migrations/.gitkeep
  backend/poster-service/Sources/App/Models/.gitkeep
  backend/ride-service/Sources/App/DTOs/.gitkeep
  backend/ride-service/Sources/App/Migrations/.gitkeep
Due: build-backend-docker-image-config-service, build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-all-services

added Maps to Rides - SpecialRides are now ready to go - #309
  KIVoP-ios/KIVoP-ios/API/RideManager.swift
  KIVoP-ios/KIVoP-ios/Info.plist
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Utils/LocationMapManager.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/Components/CreateEventRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/Components/CreateSpecialRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/Components/LocationPickerView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/EditRideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/EditSpecialRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/NewRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/NewRideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideDetailView/Components/LocationRequestView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideDetailView/Components/RideDecision.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideDetailView/RideDetailView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideDetailView/RideDetailViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideMap/SelectRideLocation.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideView.swift
Due: none

Sitzung-Service: Protokolleinreichung repariert - #380
  backend/meeting-service/Sources/App/Controllers/RecordController.swift
Due: build-backend-docker-image-meeting-service

DTOs: Umfrage-Service-DTOs angelegt - #375 (#333)
  DTOs/Package.swift
  DTOs/Sources/MeetingServiceDTOs/CreateVotingDTO.swift
  DTOs/Sources/PollServiceDTOs/CreatePollDTO.swift
  DTOs/Sources/PollServiceDTOs/GetIdentityDTO.swift
  DTOs/Sources/PollServiceDTOs/GetPollDTO.swift
  DTOs/Sources/PollServiceDTOs/GetPollResultsDTO.swift
  DTOs/Sources/PollServiceDTOs/GetPollVotingOptionDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/PollServiceDTOs/CreatePollDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PollServiceDTOs/GetIdentityDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PollServiceDTOs/GetPollDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PollServiceDTOs/GetPollResultsDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PollServiceDTOs/GetPollVotingOptionDTO.kt
Due: none

VotingResultView: Identities in Ergebnisse eingebunden
  KIVoP-ios/KIVoP-ios/Views/Meeting/Meeting-MeetingDetail.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/PieChartView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/VotingLiveStatusView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VoteView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingResultView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/VotingsView.swift
Due: none

Abstimmungen erweitert - User und deren Abstimmungen werden angezeigt
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserPopUp.swift
  kivopadmin/kivopadmin/Views/Poll/CreatePollView.swift
  kivopadmin/kivopadmin/Views/Voting/AbgeschlossenView.swift
  kivopadmin/kivopadmin/Views/Voting/VotingService.swift
Due: none

#59 added CustomPopupButton @30110
  android/app/src/main/java/net/ipv64/kivop/components/CustomButton.kt
Due: none

Format
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/AttendancesCoordinationPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/MeetingsListPage.kt
  android/app/src/main/java/net/ipv64/kivop/services/GetScreenHeight.kt
Due: none

Der User bekommt nur veröffentlichte Protokolle angezeigt. - #382 - @30038
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Protokolle/MarkdownEditorView.swift
  KIVoP-ios/KIVoP-ios/Views/Protokolle/ProtokolleView.swift
Due: none

WaitingView für Admin Registrierung - Onboarding API um Logik erweitert - Refresh nach Konto-Löschung in der Nutzerverwaltung - @30078
  kivopadmin/kivopadmin/API/OnboardingAPI.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserManagement.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserPopUp.swift
  kivopadmin/kivopadmin/Views/Onboarding/Onboarding-Register.swift
  kivopadmin/kivopadmin/Views/Onboarding/Onboarding_Wait.swift
Due: none

#59 changed CustomPopupButton, added ButtonStyle @30110
  android/app/src/main/java/net/ipv64/kivop/components/CustomButton.kt
  android/app/src/main/java/net/ipv64/kivop/models/ButtonStyle.kt
Due: none

#59 fixed button shape
  android/app/src/main/java/net/ipv64/kivop/components/CustomButton.kt
Due: none

Revert "Format"
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/AttendancesCoordinationPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/MeetingsListPage.kt
  android/app/src/main/java/net/ipv64/kivop/services/GetScreenHeight.kt
Due: none

Nur der Protokollant kann ein Protokoll bearbeiten - #382 - @30038
  KIVoP-ios/KIVoP-ios/API/IdentityManager.swift
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Protokolle/MarkdownEditorView.swift
Due: none

Sitzung-Service: Protokoll-Fix
  backend/meeting-service/Sources/App/Controllers/RecordController.swift
Due: build-backend-docker-image-meeting-service

Der User kann die Adresse einer Sitzung kopieren. - #385 - @30038
  KIVoP-ios/KIVoP-ios/Views/Meeting/Meeting-MeetingDetail.swift
Due: none

DTOs: Package Repariert
  DTOs/Package.swift
  DTOs/Sources/PollServiceDTOs/GetPollDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services
