Repository IAmMajo/Pleno: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dto-swiftkotlin, build-backend-docker-image-config-service, build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-notifications-service, build-backend-docker-image-all-services

dto-swiftkotlin:
  stage: build
  script:
  - ./translate-dtos.sh
  - git add *
  - git status
  - git commit -m "${SWIFTKOTLIN_COMMIT_MESSAGE}"
  - git push -o ci.skip "https://gitlab-ci-token:${PROJECT_ACCESS_MAINTAINER_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git" HEAD:${CI_COMMIT_BRANCH}

build-backend-docker-image-config-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build config-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-auth-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build auth-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-meeting-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build meeting-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-notifications-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build notifications-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-all-services:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

SpecialRideRequest anpassen hinzu - #318
  backend/ride-service/Sources/App/Controllers/SpecialRideController.swift
  backend/ride-service/Sources/App/Extensions/Models/Ext_SpecialRideRequest.swift
  backend/ride-service/Sources/App/tmp/PatchSpecialRideRequestDTO.swift
Due: none

kleine optimierungen - Routenfuehrung - Response nach patch angepasst - patch request angepasst - delete request optimiert - #318
  backend/ride-service/Sources/App/Controllers/SpecialRideController.swift
Due: none

alten ride-serivce bereinigt - #318
  backend/ride-service/Sources/App/Controllers/RideController.swift
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_GetParticipantDTO.swift
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_GetRideDetailDTO.swift
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_GetRideOverviewDTO.swift
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_ParticipationDTO.swift
  backend/ride-service/Sources/App/Extensions/Models/Ext_Participant.swift
  backend/ride-service/Sources/App/Extensions/Models/Ext_Ride.swift
  backend/ride-service/Sources/App/Migrations/CreateParticipant.swift
  backend/ride-service/Sources/App/Migrations/CreateRide.swift
  backend/ride-service/Sources/App/configure.swift
  backend/ride-service/Sources/App/routes.swift
Due: none

delete SpecialRideRequest hinzu - #318
  backend/ride-service/Sources/App/Controllers/SpecialRideController.swift
Due: none

offene requests werden entfernt, sobald die fahrt voll ist - #318
  backend/ride-service/Sources/App/Controllers/SpecialRideController.swift
Due: none

alte models entfernt - #318
  backend/models/Sources/Models/ride-service/Participant.swift
  backend/models/Sources/Models/ride-service/Ride.swift
Due: build-backend-docker-image-all-services

temporaere dtos entfernt - #318
  backend/ride-service/Sources/App/tmp/CreateSpecialRideDTO.swift
  backend/ride-service/Sources/App/tmp/CreateSpecialRideRequestDTO.swift
  backend/ride-service/Sources/App/tmp/GetRiderDTO.swift
  backend/ride-service/Sources/App/tmp/GetSpecialRideDTO.swift
  backend/ride-service/Sources/App/tmp/GetSpecialRideDetailDTO.swift
  backend/ride-service/Sources/App/tmp/PatchSpecialRideDTO.swift
  backend/ride-service/Sources/App/tmp/PatchSpecialRideRequestDTO.swift
Due: none

Enum namen angepasst - #318
  backend/ride-service/Sources/App/Controllers/SpecialRideController.swift
Due: none

fix revert-container - #318
  docker-compose.yml
Due: none

config-service wieder aktiviert - #318
  backend/ride-service/Sources/App/configure.swift
Due: none

openAPI Doku hinzu - #318
  backend/ride-service/Package.resolved
  backend/ride-service/Package.swift
  backend/ride-service/Sources/App/Controllers/SpecialRideController.swift
  backend/ride-service/Sources/App/Extensions/Models/Ext_SpecialRide.swift
  backend/ride-service/Sources/App/Middleware/AdminMiddleware.swift
  backend/ride-service/Sources/App/Middleware/AuthMiddleware.swift
  backend/ride-service/Sources/App/configure.swift
  backend/ride-service/Sources/App/routes.swift
Due: none

Der Protokollant kann festgelegt werden. - @30038 - #354
  kivopadmin/kivopadmin/BackendController/AttendanceManager.swift
  kivopadmin/kivopadmin/BackendController/UserManager.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDateilAdminView.swift
Due: none

Sitzung-Service: Bugfix - Bug gefixt, der das automatische Erstellen eines neuen **Place** verhinderte
  backend/meeting-service/Sources/App/Controllers/MeetingController.swift
Due: build-backend-docker-image-meeting-service

Wenn nur ein aktuelles Meeting, dann erscheint dort kein Navigationspunkt. - @30038 - #354
  kivopadmin/kivopadmin/Views/MainPage/CurrentMeetingBottomView.swift
  kivopadmin/kivopadmin/Views/MainPage/MainPage.swift
  kivopadmin/kivopadmin/Views/MeetingService/CreateMeetingView.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDateilAdminView.swift
Due: none

Sitzung-Service: Anwesenheitscheck bei Abstimmungen eingebaut - #337
  backend/meeting-service/Sources/App/Controllers/VotingController.swift
  backend/meeting-service/Sources/App/Models/Record.swift
Due: build-backend-docker-image-meeting-service

Irrelevanter Commit zu Testzwecken
  README.md
Due: none

CI/CD: ticketflow (hoffentlich) repariert - Prüfung auf vorhandene Ticket_IIDS vor Loop - #330
  .gitlab-ci.yml
Due: none

CI/CD: ticketflow Debug-echos hinzugefügt
  .gitlab-ci.yml
Due: none

CI/CD: ticketflow (hoffentlich) repariert - Prüfung auf vorhandene Ticket_IIDS vor Zuweisung der Variable - #330
  .gitlab-ci.yml
Due: none

CI/CD: ticketflow-Test - Ohne schließende Ticketerwähnungen im MR - #330
  .gitlab-ci.yml
Due: none

CI/CD: tickeflow echo-Restbestand entfernt
  .gitlab-ci.yml
Due: none

update: AttendancesCoordinationPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/AttendancesCoordinationPage.kt
Due: none

Add translate-record route - #359
  .gitlab-ci.yml
  backend/ai-service/Package.swift
  backend/ai-service/Resources/Prompts/translate-record.md
  backend/ai-service/Sources/App/Controllers/AIController.swift
  backend/ai-service/Sources/App/DTOs/AISendMessageDTO.swift
  backend/ai-service/Sources/App/Services/AI.swift
  backend/ai-service/Sources/App/routes.swift
Due: none

Auth-Service-Anpassungen - Interne DTOs angepasst - bessere Fehlerbehandlung bei der Email-Verifizierung - Migration angepasst - EmailVerification-Modell angepasst - Debug-Modus ausgeschaltet - #356
  backend/auth-service/Sources/App/Controllers/AuthController.swift
  backend/auth-service/Sources/App/Controllers/UserController.swift
  backend/auth-service/Sources/App/DTOs/ChangePasswordDTO.swift
  backend/auth-service/Sources/App/DTOs/RequestPasswordResetDTO.swift
  backend/auth-service/Sources/App/DTOs/ResetPasswordDTO.swift
  backend/auth-service/Sources/App/DTOs/TokenResponseDTO.swift
  backend/auth-service/Sources/App/DTOs/UserLoginDTO.swift
  backend/auth-service/Sources/App/DTOs/UserProfileDTO.swift
  backend/auth-service/Sources/App/DTOs/UserProfileUpdateDTO.swift
  backend/auth-service/Sources/App/DTOs/UserRegistrationDTO.swift
  backend/auth-service/Sources/App/DTOs/UserUpdateAccountDTO.swift
  backend/auth-service/Sources/App/Migrations/CreateEmailVerification.swift
  backend/auth-service/Sources/App/configure.swift
  backend/models/Sources/Models/auth-service/EmailVerification.swift
Due: build-backend-docker-image-auth-service, build-backend-docker-image-all-services

Backend: Replikator angepasst - Skript angepasst - Alle zugehörigen Dateien entsprechend angepasst (wenn nötig) - OpenAPIInfo zentral gespeichert - #332
  backend/_service-template/Sources/App/configure.swift
  backend/_service-template/replicate.sh
  backend/config-service/Sources/App/Migrations/CreateService.swift
  backend/models/Sources/Models/_misc/OpenAPIInfo.swift
  docker-compose.yml
Due: build-backend-docker-image-config-service, build-backend-docker-image-all-services

OpenAPI: Alle Services auf OpenAPIInfo umgestellt - Außerdem Fehler behoben - Erweiterte Zusatzarbeiten zu #332
  backend/_service-template/Sources/App/routes.swift
  backend/ai-service/Sources/App/routes.swift
  backend/auth-service/Sources/App/routes.swift
  backend/config-service/Sources/App/routes.swift
  backend/meeting-service/Sources/App/routes.swift
  backend/models/Sources/Models/_misc/OpenAPIInfo.swift
  backend/notifications-service/Sources/App/routes.swift
  backend/poster-service/Sources/App/routes.swift
  backend/ride-service/Sources/App/routes.swift
Due: build-backend-docker-image-config-service, build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-notifications-service, build-backend-docker-image-all-services

Backend: Leichte Aufhübschung des Replikators - #332
  backend/_service-template/replicate.sh
Due: none

Backend: Replikator-Fix - `&` Zeichen beim Generieren des Passworts entfernt - `&` Zeichen in Templates escaped - #332
  backend/_service-template/replicate.sh
Due: none

added editSpecialRide Feature for Driver - added rideDescription into RideDetailView - #309
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/Components/CreateEventRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/Components/CreateSpecialRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/Components/EditSpecialRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/EditRideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/NewRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/NewRideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideDetailView/RideDetailView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideDetailView/RideDetailViewModel.swift
Due: none

Poll hinzugefügt und Nutzerverwaltung angepasst
  kivopadmin/kivopadmin/API/MainPageAPI.swift
  kivopadmin/kivopadmin/Views/MainPage/MainPage.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserPopUp.swift
  kivopadmin/kivopadmin/Views/Poll/DestructiveButtonStyle.swift
  kivopadmin/kivopadmin/Views/Poll/Poll.swift
  kivopadmin/kivopadmin/Views/Poll/PollDetailView.swift
  kivopadmin/kivopadmin/Views/Poll/PollListView.swift
  kivopadmin/kivopadmin/Views/Poll/PollPieChartView.swift
  kivopadmin/kivopadmin/Views/Poll/PollResultsView.swift
  kivopadmin/kivopadmin/Views/Voting/AktivView.swift
  kivopadmin/kivopadmin/Views/Voting/VotingListView.swift
Due: none

DTOs aus Entwicklungs-Branch uebernommen - #360
  DTOs/Sources/RideServiceDTOs/CreateEventDTO.swift
  DTOs/Sources/RideServiceDTOs/CreateEventParticipationDTO.swift
  DTOs/Sources/RideServiceDTOs/GetEventDTO.swift
  DTOs/Sources/RideServiceDTOs/GetEventDetailDTO.swift
  DTOs/Sources/RideServiceDTOs/GetEventParticipationDTO.swift
  DTOs/Sources/RideServiceDTOs/GetRiderDTO.swift
  DTOs/Sources/RideServiceDTOs/GetUserWithoutFeedbackDTO.swift
  DTOs/Sources/RideServiceDTOs/PatchEventDTO.swift
  DTOs/Sources/RideServiceDTOs/PatchEventParticipationDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/CreateEventDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/CreateEventParticipationDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/GetEventDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/GetEventDetailDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/GetEventParticipationDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/GetUserWithoutFeedbackDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/PatchEventDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/PatchEventParticipationDTO.kt
Due: none

Login.Funktion wurde angepasst - Ein Admin muss nun auch eine verifizierte Email haben - #361
  backend/auth-service/Sources/App/Controllers/AuthController.swift
Due: build-backend-docker-image-auth-service

Backend: Replikator Nachbesserung - Jetzt wird auch die docker-compose.yml angepasst - Nachbesserung zu #332
  backend/_service-template/replicate.sh
  backend/docker-compose.yml
Due: none

Events und Teilnehmer werden in einer Transaktion geloescht - #318
  backend/ride-service/Sources/App/Controllers/EventController.swift
Due: none

traefik route fuer events hinzu - #318
  backend/docker-compose.yml
  docker-compose.yml
Due: none

User ohne Feedback, werden in den EventDetails auch zurueckgegeben - #318
  backend/ride-service/Sources/App/Controllers/EventController.swift
Due: none

openAPI Doku fuer Events und Teilnahmen erstellt - #318
  backend/ride-service/Sources/App/Controllers/EventController.swift
Due: none

Teilnehmerliste in Eventresponse hinzu - #318
  backend/ride-service/Sources/App/Controllers/EventController.swift
Due: none

teilnahme an events hinzu - #318
  backend/ride-service/Sources/App/Controllers/EventController.swift
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_GetEventParticipationDTO.swift
  backend/ride-service/Sources/App/Extensions/Models/Ext_EventParticipant.swift
Due: none

Path conditions:
  dto-swiftkotlin: any of: DTOs/Sources/**/*, translate-dtos.sh
  build-backend-docker-image-config-service: any of: backend/config-service/**/*
  build-backend-docker-image-auth-service: any of: backend/auth-service/**/*
  build-backend-docker-image-meeting-service: any of: backend/meeting-service/**/*
  build-backend-docker-image-notifications-service: any of: backend/notifications-service/**/*
  build-backend-docker-image-all-services: any of: backend/models/**/*, DTOs/**/*
