Repository IAmMajo/Pleno: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dto-swiftkotlin, build-backend-docker-image-config-service, build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-notifications-service, build-backend-docker-image-all-services

Path conditions:
  dto-swiftkotlin: any of: DTOs/Sources/**/*, translate-dtos.sh
  build-backend-docker-image-config-service: any of: backend/config-service/**/*
  build-backend-docker-image-auth-service: any of: backend/auth-service/**/*
  build-backend-docker-image-meeting-service: any of: backend/meeting-service/**/*
  build-backend-docker-image-notifications-service: any of: backend/notifications-service/**/*
  build-backend-docker-image-all-services: any of: backend/models/**/*, DTOs/**/*

update: ProtocolViewModel, ProtocolApi.kt, ProtocolListPage add: Markdown.kt
  android/app/src/main/java/net/ipv64/kivop/components/Markdown.kt
  android/app/src/main/java/net/ipv64/kivop/models/viewModel/ProtocolViewModel.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/ProtocolListPage.kt
  android/app/src/main/java/net/ipv64/kivop/services/api/ProtocolApi.kt
Due: none

update: IconTextField.kt
  android/app/src/main/java/net/ipv64/kivop/components/IconTextField.kt
Due: none

Added MyRides to the List (Shows all Rides I interacted with) - Creating EventRides shows Message that its work in Progress - Button when Ride is full is now changed
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Ride/Components/MyRidesList.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/NewRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideDetailView/Components/RideDecision.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideViewModel.swift
Due: none

Backend: Migrations aus Root Compose entfernt - Außerdem Verweis der Reverts korrigiert - Korrektur zu #407
  docker-compose.yml
Due: none

Backend: Docker Compose Fix - tdums-service wieder einkommentiert - Nachbesserung zu #407
  backend/docker-compose.yml
Due: none

PreviewCards auf der Karte entfernbar - #419 - @30038
  kivopadmin/kivopadmin/Views/Posters/Map/ViewModels/LocationsViewModel.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationPreviewView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsListView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsView.swift
Due: none

Notification-Settings - User-Modell angepasst - Migration angepasst - Registrierte Benutzer habe als Standard Benachrichtigungen an aber Push-Benachrichtigungen aus - #430
  backend/auth-service/Sources/App/Controllers/UserController.swift
  backend/auth-service/Sources/App/Migrations/CreateUser.swift
  backend/models/Sources/Models/auth-service/User.swift
Due: build-backend-docker-image-auth-service, build-backend-docker-image-all-services

DTOs angepasst - #432
  DTOs/Sources/AuthServiceDTOs/UserProfileDTO.swift
  DTOs/Sources/AuthServiceDTOs/UserProfileUpdateDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserProfileDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserProfileUpdateDTO.kt
Due: none

Sitzung-Service: Übersetzung implementiert - #362
  backend/docker-compose.yml
  backend/meeting-service/Package.swift
  backend/meeting-service/Sources/App/Controllers/RecordController.swift
  backend/meeting-service/Sources/App/DTOs/AISendMessageDTO.swift
Due: build-backend-docker-image-meeting-service

DTO wurde angepasst - Felder nun nicht mehr optional - #433
  DTOs/Sources/AuthServiceDTOs/UserProfileDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Karte ist nach Status der Plakatposition filterbar - #419 - @30038
  kivopadmin/kivopadmin.xcodeproj/project.pbxproj
  kivopadmin/kivopadmin/Views/Posters/Map/ViewModels/LocationsViewModel.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationMapAnnotationView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsListView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsView.swift
Due: none

Filter Anpassungen
  kivopadmin/kivopadmin/Views/Posters/Map/ViewModels/LocationsViewModel.swift
Due: none

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/AuthServiceDTOs/UserProfileDTO.kt
Due: none

Languacode und isRegistrationEnabled hinzugefügt
  backend/config-service/Sources/App/Controllers/ConfigController.swift
  backend/config-service/Sources/App/Migrations/CreateServiceSetting.swift
  backend/config-service/Sources/App/Migrations/CreateSetting.swift
  backend/models/Sources/Models/config-service/Setting.swift
  backend/poster-service/Sources/App/Controllers/PosterPositionController.swift
Due: build-backend-docker-image-config-service, build-backend-docker-image-all-services

Sitzung-Service: `votingResultsAppendix` repariert - Außerdem extend-record-Anweisung des AI-Service leicht angepasst
  backend/ai-service/Resources/Prompts/extend-record.md
  backend/meeting-service/Sources/App/Controllers/RecordController.swift
  backend/meeting-service/Sources/App/Models/Record.swift
Due: build-backend-docker-image-meeting-service

DTOs: PosterSummaryResponseDTO angepasst - Außerdem fehlerhaftes Leerzeichen aus GetEventRideDetailDTO entfernt - #436
  DTOs/Sources/PosterServiceDTOs/PosterSummaryResponseDTO.swift
  DTOs/Sources/RideServiceDTOs/GetEventRideDetailDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/PosterSummaryResponseDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/GetEventRideDetailDTO.kt
Due: none

Poster-Service: Summary-Route pro Poster hinzugefügt - OpenAPI Tags im AI-Service angepasst - #435
  backend/ai-service/Sources/App/Controllers/AIController.swift
  backend/ai-service/Sources/App/Controllers/InternalController.swift
  backend/ai-service/Sources/App/routes.swift
  backend/poster-service/Sources/App/Controllers/PosterController.swift
Due: none

Backend: Docker Compose Fix - tdums-service wieder einkommentiert
  backend/docker-compose.yml
Due: none

Standorte können hinzugefügt werden. Verantwortliche Personen werden als kleine Info angezeigt. - #419 - @30038
  kivopadmin/kivopadmin/Views/Posters/Map/ViewModels/LocationsViewModel.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationPreviewView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/UserSelectionSheet.swift
  kivopadmin/kivopadmin/Views/Posters/Posters_AddPositionView.swift
Due: none

Problem beim Auth-Service behoben - Baut jetzt wieder - #437
  backend/auth-service/Sources/App/Controllers/UserController.swift
Due: build-backend-docker-image-auth-service

2 Filter fuer Eventfahrten eingebaut - #438
  backend/ride-service/Sources/App/Controllers/EventRideController.swift
  backend/ride-service/Sources/App/Models/EventRideFilter.swift
Due: none

DTO angepasst - Das Profilbild wurde optional gemacht - #439
  DTOs/Sources/AuthServiceDTOs/UserProfileDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Registrierung angepasst - Passowrtbedingungen werden nun unter dem Textfeld angezeigt - Textfeld bekommt Umrandung green oder red - Verweis auf Onboarding funktioniert korrekt - @30078
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding-Login.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding-Register.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding.swift
Due: none

Backend: Postgres-HealthCheck zu Root Compose hinzugefügt - Postgres extended nämlich nicht die Backend-Compose - Nachbesserung zu #407
  docker-compose.yml
Due: none

Temporäre Fixes
  KIVoP-ios/KIVoP-ios.xcodeproj/project.pbxproj
  KIVoP-ios/KIVoP-ios/Info.plist
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView-ProfilPicture.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage.swift
Due: none

Added some Event Ride Features - Create EventRide - Participate at Event - fetch Events + EventDetails - #427
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/Components/CreateEventRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/EditRideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/NewRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideViewModel.swift
Due: none

update: ListsItem.kt, ProtocolListPage.kt, MainActivity.kt add: ProtocolDetailPage.kt, ProtocolEditPage.kt
  android/app/src/main/java/net/ipv64/kivop/MainActivity.kt
  android/app/src/main/java/net/ipv64/kivop/components/ListsItem.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/ProtocolDetailPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/ProtocolEditPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/ProtocolListPage.kt
Due: none

Format
  android/app/build.gradle.kts
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/Carpool/onBoardingCreateRide/CreateRide00Page.kt
Due: none

Verantwortliche User für eine Plakatposition sind änderbar. - #419 - @30038
  kivopadmin/kivopadmin/Views/Posters/Components/ProgressBarView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/ViewModels/LocationsViewModel.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/EditResponsibleUsers.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationDetailView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationMapAnnotationView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationPreviewView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsListView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsView.swift
Due: none

Profilbilder behoben - @30078
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView-ProfilPicture.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage.swift
Due: none

Fehlermeldung verbessert beim ändern des Nutzernamens -@30078
  KIVoP-ios/KIVoP-ios/API/MainPageAPI.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView-Name.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView-ProfilPicture.swift
Due: none

Anpassungen - #419 - @30038
  kivopadmin/kivopadmin/Views/Posters/Map/Views/EditPosterPosition.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationDetailView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationPreviewView.swift
Due: none

Profilbild der Responsible User rund gemacht
  KIVoP-ios/KIVoP-ios.xcodeproj/project.pbxproj
  KIVoP-ios/KIVoP-ios/Info.plist
  KIVoP-ios/KIVoP-ios/Views/Posters/Components/PosterPositionComponents/UserProfileImageView.swift
Due: none

Fixes an UserProfileDTO (temporär), PostersView Fixes
  DTOs/Sources/AuthServiceDTOs/UserProfileDTO.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView-ProfilPicture.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/PostersView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/PostersViewModels.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

added Events and EventRides to RideOverview - added EventRideDetailView + ViewModel
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Ride/Components/EventList.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/Components/MyRidesList.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EditRideView/Components/CreateEventRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EventRideView/EventRideDetailView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EventRideView/EventRideDetailViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EventRideView/EventRideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/EventRideView/EventRideViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideViewModel.swift
Due: none

Hotfix
  backend/ride-service/Sources/App/Controllers/EventRideController.swift
Due: none
