Repository IAmMajo/Pleno: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dto-swiftkotlin, build-backend-docker-image-config-service, build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-notifications-service, build-backend-docker-image-all-services

dto-swiftkotlin:
  stage: build
  script:
  - ./translate-dtos.sh
  - git add *
  - git status
  - git commit -m "${SWIFTKOTLIN_COMMIT_MESSAGE}"
  - git push -o ci.skip "https://gitlab-ci-token:${PROJECT_ACCESS_MAINTAINER_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git" HEAD:${CI_COMMIT_BRANCH}

build-backend-docker-image-config-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build config-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-auth-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build auth-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-meeting-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build meeting-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-notifications-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build notifications-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-all-services:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

Markdown anpassungen - Markdown ist nun aus den generierten Social-Media Posts entfernt worden - Anführungsstriche am Anfang und am Ende sind ebenfalls entfernt worden - @30078
  kivopadmin/kivopadmin/Views/Records/MarkdownEditorView.swift
Due: none

add: QrCodeScanner.kt update: PopupCheckIn.kt, AttendancesCoordinationPage.kt
  android/app/build.gradle.kts
  android/app/src/main/java/net/ipv64/kivop/components/PopupCheckIn.kt
  android/app/src/main/java/net/ipv64/kivop/components/QrCodeScanner.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/AttendancesCoordinationPage.kt
  android/gradle/libs.versions.toml
Due: none

Format
  android/app/build.gradle.kts
  android/app/src/main/java/net/ipv64/kivop/components/PopupCheckIn.kt
  android/app/src/main/java/net/ipv64/kivop/components/QrCodeScanner.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/AttendancesCoordinationPage.kt
Due: none

Patch: Berechtigungsverwaltung der Kamera hinzugefügt. Refs: @30226, #496
  android/app/src/main/java/net/ipv64/kivop/components/QrCodeScanner.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/AttendancesCoordinationPage.kt
Due: none

Format
  android/app/src/main/java/net/ipv64/kivop/components/QrCodeScanner.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/AttendancesCoordinationPage.kt
Due: none

Darkmode für Polls und Votings angepasst
  KIVoP-ios/KIVoP-ios/Views/Polls/Polls-VoteView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VoteView.swift
Due: none

VotingsResultView und PollResultView: UI Anpassungen für Darstellung ohne votes
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Polls/Components/PollPieChartView.swift
  KIVoP-ios/KIVoP-ios/Views/Polls/Polls-PollResultView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/PieChartView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VotingResultView.swift
Due: none

Die Anzeige wurde angepasst. - #500 - @30038
  kivopadmin/kivopadmin/Localizable.xcstrings
  kivopadmin/kivopadmin/Views/Posters/Components/CircularProgressView.swift
  kivopadmin/kivopadmin/Views/Posters/PosterDetailView.swift
  kivopadmin/kivopadmin/Views/Posters/PostersMainView.swift
Due: none

Polls, Votings, Posters: Übersetzungen eingebaut; Polls Search gefixed
  KIVoP-ios/KIVoP-ios/Data/DTOextensions.swift
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Polls/Polls-PollResultView.swift
  KIVoP-ios/KIVoP-ios/Views/Polls/PollsView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/Components/PosterComponents/FullMapPositionsSheet.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/Components/PosterPositionComponents/CircleImageView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/Components/PosterPositionComponents/ProgressInfoView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/Posters-PosterDetailView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/PostersView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/PostersViewModels.swift
Due: none

Posters: Summary Route für PostersView implementiert
  KIVoP-ios/KIVoP-ios/Views/Posters/PostersView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/PostersViewModels.swift
Due: none

refactoring
  DTOs/Sources/PosterServiceDTOs/ImageDTO.swift
  backend/config-service/Package.swift
  backend/config-service/Sources/App/Controllers/ConfigController.swift
  backend/config-service/Sources/App/DTOs/BulkUpdateResponseDTO.swift
  backend/config-service/Sources/App/DTOs/SettingBulkUpdateDTO.swift.swift
  backend/config-service/Sources/App/DTOs/SettingResponseDTO.swift
  backend/config-service/Sources/App/DTOs/SettingUpdateDTO.swift
  backend/config-service/Sources/App/DTOs/SettingUpdateItemDTO.swift.swift
  backend/config-service/Sources/App/DTOs/SettingValueDTO.swift
  backend/config-service/Sources/App/DTOs/WebhookPayloadDTO.swift
  backend/models/Sources/Models/config-service/Service.swift
  backend/models/Sources/Models/config-service/ServiceSetting.swift
  backend/models/Sources/Models/config-service/Setting.swift
  backend/models/Sources/Models/poster-service/Poster.swift
  backend/models/Sources/Models/poster-service/PosterPositionResponsibilities.swift
  backend/models/Sources/Models/poster-service/posterPosition.swift
  backend/poster-service/Sources/App/Controllers/PosterController.swift
  backend/poster-service/Sources/App/Controllers/PosterPositionController.swift
  backend/poster-service/Sources/App/DTOs/CreatePosterPositionDTO.swift
  backend/poster-service/Sources/App/DTOs/HangPosterPositionDTO.swift
  backend/poster-service/Sources/App/DTOs/ImageDTO.swift
  backend/poster-service/Sources/App/DTOs/PosterPositionResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/PosterResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/TakeDownPosterPositionDTO.swift
  backend/poster-service/Sources/App/DTOs/UpdatePosterPositionDTO.swift
  backend/poster-service/Sources/App/Migrations/CreatePosterPosition.swift
  backend/poster-service/Sources/App/Migrations/CreatePosterPositionResponsibilities.swift
  backend/poster-service/Sources/App/Migrations/CreatePosters.swift
  backend/poster-service/Sources/App/Models/Identity.swift
  backend/poster-service/Sources/App/Models/PosterPosition.swift
  backend/poster-service/Sources/App/Tasks/DailyCheckTask.swift
Due: dto-swiftkotlin, build-backend-docker-image-config-service, build-backend-docker-image-all-services

dto changes
  DTOs/Sources/PosterServiceDTOs/ImageDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterPositionResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterResponseDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Added maps to Carpool pages
  android/app/src/main/java/net/ipv64/kivop/components/DebouncedCustomInputField.kt
  android/app/src/main/java/net/ipv64/kivop/components/Map.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/RideServiceDTOs/GetEventDTO.kt
  android/app/src/main/java/net/ipv64/kivop/models/viewModel/MapViewModel.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/Carpool/CarpoolPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/Carpool/onBoardingCreateRide/CreateRide03Page.kt
Due: none

Validator für Config Service
  backend/config-service/Sources/App/Controllers/ConfigController.swift
  backend/config-service/Sources/App/DTOs/SettingBulkUpdateDTO.swift.swift
  backend/config-service/Sources/App/DTOs/SettingUpdateDTO.swift
  backend/config-service/Sources/App/Models/Setting.swift
  backend/config-service/Sources/App/Services/WebhookNotifier.swift
  backend/poster-service/Sources/App/Controllers/PosterController.swift
Due: build-backend-docker-image-config-service

ImagoDTO hinzugefügt und Poster und PosterPosition Response angepasst
  DTOs/Sources/PosterServiceDTOs/ImageDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterPositionResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterResponseDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/ImageDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/PosterPositionResponseDTO.kt
Due: none

image routen dto entfernt; Direkte rückgabe des Bildes
  backend/poster-service/Sources/App/Controllers/PosterController.swift
  backend/poster-service/Sources/App/Controllers/PosterPositionController.swift
  backend/poster-service/Sources/App/DTOs/ImageDTO.swift
Due: none

Poster:ImageDto entfernt
  DTOs/Sources/PosterServiceDTOs/ImageDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

imageDto entfernt
  DTOs/Sources/PosterServiceDTOs/ImageDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

entfernen von Image aus den Dtos zum aufhängen und abhängen
  DTOs/Sources/PosterServiceDTOs/HangPosterPositionResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/TakeDownPosterPositionResponseDTO.swift
  backend/poster-service/Sources/App/Controllers/PosterController.swift
  backend/poster-service/Sources/App/Controllers/PosterPositionController.swift
  backend/poster-service/Sources/App/DTOs/HangPosterPositionDTO.swift
  backend/poster-service/Sources/App/DTOs/TakeDownPosterPositionDTO.swift
  backend/poster-service/Sources/App/DTOs/UpdatePosterPositionDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Image Attribut beim Aufhängen und abhängen Response Dtos
  DTOs/Sources/PosterServiceDTOs/HangPosterPositionResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/TakeDownPosterPositionResponseDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/HangPosterPositionResponseDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/TakeDownPosterPositionResponseDTO.kt
Due: none

Fehler im Onboarding verbessert - Safezone bottom passt sich dem Rest an - Code vernünftig kommentiert - @30078
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage-ProfilView-ProfilPicture.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/ForgotPasswordView.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding-Login.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding-ProfilePicture.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding-Register.swift
  KIVoP-ios/KIVoP-ios/Views/Onboarding/Onboarding.swift
Due: none

Posters: ein paar Views angepasst, kommentiert
  KIVoP-ios/KIVoP-ios/Views/Posters/Components/GetDateColorHelper.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/Components/Helper.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/Posters-PositionView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/Posters-PosterDetailView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/PostersView.swift
  KIVoP-ios/KIVoP-ios/Views/Posters/PostersViewModels.swift
Due: none

Anpassungen Auth-Service - Es werden nun Zertifikate für den Auth-Service erstellt und anderen Services bereitgestellt - #423
  .env.example
  backend/auth-service/Dockerfile
  backend/auth-service/Package.resolved
  backend/auth-service/Package.swift
  backend/auth-service/Sources/App/Controllers/AuthController.swift
  backend/auth-service/Sources/App/Controllers/UserController.swift
  backend/auth-service/Sources/App/configure.swift
  backend/auth-service/Sources/App/middlewares/authMiddleware.swift
  backend/docker-compose.yml
  backend/meeting-service/Package.swift
  backend/meeting-service/Sources/App/Middlewares/AuthMiddleware.swift
  backend/meeting-service/Sources/App/configure.swift
  backend/meeting-service/Sources/App/routes.swift
  backend/notifications-service/Package.swift
  backend/notifications-service/Sources/App/Controllers/NotificationDeviceController.swift
  backend/notifications-service/Sources/App/Middlewares/AuthMiddleware.swift
  backend/notifications-service/Sources/App/configure.swift
  backend/poll-service/Package.swift
  backend/poll-service/Sources/App/Middlewares/AuthMiddleware.swift
  backend/poll-service/Sources/App/configure.swift
  backend/poll-service/Sources/App/routes.swift
  backend/poster-service/Package.swift
  backend/poster-service/Sources/App/Middlewares/AuthMiddleware.swift
  backend/poster-service/Sources/App/configure.swift
  backend/poster-service/Sources/App/routes.swift
  backend/ride-service/Package.swift
  backend/ride-service/Sources/App/configure.swift
  docker-compose.yml
Due: build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-notifications-service

Fehler behoben - #509 - @30038
  kivopadmin/kivopadmin/BackendController/PosterManager.swift
  kivopadmin/kivopadmin/Localizable.xcstrings
  kivopadmin/kivopadmin/Views/Posters/Map/Models/PosterPositionWithAddress.swift
  kivopadmin/kivopadmin/Views/Posters/Map/ViewModels/LocationsViewModel.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationDetailView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationPreviewView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsListView.swift
  kivopadmin/kivopadmin/Views/Posters/PosterDetailView.swift
  kivopadmin/kivopadmin/Views/Posters/PosterMapView.swift
  kivopadmin/kivopadmin/Views/Posters/PostersMainView.swift
  kivopadmin/kivopadmin/Views/Posters/Posters_AddPositionView.swift
  kivopadmin/kivopadmin/Views/Posters/Posters_PositionView.swift
Due: none

Removed redundant code, simplified logic, and added comments for clarity
  KIVoP-ios/KIVoP-ios/API/AttendanceManager.swift
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Attendance/AttendanceView.swift
  KIVoP-ios/KIVoP-ios/Views/Attendance/AttendanceViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Attendance/Components/ProfilePictureAttendance.swift
  KIVoP-ios/KIVoP-ios/Views/Attendance/CurrentView/AttendanceCurrentView.swift
  KIVoP-ios/KIVoP-ios/Views/Attendance/CurrentView/AttendanceCurrentViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Attendance/DetailView/AttendanceDetailView.swift
  KIVoP-ios/KIVoP-ios/Views/Attendance/DetailView/AttendanceDetailViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Attendance/PlanningView/AttendancePlanningView.swift
  KIVoP-ios/KIVoP-ios/Views/Attendance/PlanningView/AttendancePlanningViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideViewModel.swift
Due: none

MeetingService Code angepasst - #511 - @30038
  kivopadmin/kivopadmin/Localizable.xcstrings
  kivopadmin/kivopadmin/Utils/LanguageManager.swift
  kivopadmin/kivopadmin/Views/MeetingService/CreateMeetingView.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingAdminView.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDateilAdminView.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDetailAdminView.swift
Due: none

kleinere Änderungen
  backend/auth-service/Sources/App/Controllers/AuthController.swift
  backend/auth-service/Sources/App/Controllers/UserController.swift
  backend/auth-service/Sources/App/middlewares/authMiddleware.swift
Due: build-backend-docker-image-auth-service

Dateien gelöscht, Code vereinfacht und kommentiert - #511 - @30038
  kivopadmin/kivopadmin/Localizable.xcstrings
  kivopadmin/kivopadmin/Utils/LanguageManager.swift
  kivopadmin/kivopadmin/Views/Posters/Components/CircleImageView.swift
  kivopadmin/kivopadmin/Views/Posters/Components/MapView.swift
  kivopadmin/kivopadmin/Views/Posters/Components/ProgressBarView.swift
  kivopadmin/kivopadmin/Views/Posters/Components/ProgressInfoView.swift
  kivopadmin/kivopadmin/Views/Posters/PosterDetailView.swift
  kivopadmin/kivopadmin/Views/Posters/PosterMapView.swift
  kivopadmin/kivopadmin/Views/Posters/PostersMainView.swift
  kivopadmin/kivopadmin/Views/Posters/PostersViewModel.swift
  kivopadmin/kivopadmin/Views/Posters/Posters_AddPositionView.swift
  kivopadmin/kivopadmin/Views/Posters/Posters_PositionView.swift
  kivopadmin/kivopadmin/Views/Records/MarkdownEditorView.swift
  kivopadmin/kivopadmin/Views/Records/MeetingDetailsView.swift
  kivopadmin/kivopadmin/Views/Records/RecordNotApprovedView.swift
  kivopadmin/kivopadmin/Views/Records/RecordsMainView.swift
  kivopadmin/kivopadmin/Views/Rides/Views/EventRideDetailView.swift
  kivopadmin/kivopadmin/Views/Rides/Views/RidesMainView.swift
  kivopadmin/kivopadmin/Views/Rides/Views/SpecialRideDetialView.swift
Due: none

EventService Code optimiert - #511 - @30038
  kivopadmin/kivopadmin/Localizable.xcstrings
  kivopadmin/kivopadmin/Views/Events/EventsMainView.swift
  kivopadmin/kivopadmin/Views/Events/SelectPlaceView.swift
  kivopadmin/kivopadmin/Views/Events/Views/CreateEvent.swift
  kivopadmin/kivopadmin/Views/Events/Views/EditEventView.swift
  kivopadmin/kivopadmin/Views/Events/Views/EventDetailView.swift
Due: none

Removed Redundand Code (RideView + Components) - API Code is managed by RideManager now - added comments
  KIVoP-ios/KIVoP-ios/API/RideManager.swift
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/Ride/Components/EventList.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/Components/MyRidesList.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/Components/ProfilePictureRide.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/Components/RideList.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideViewModel.swift
Due: none

PosterService Code optimiert - #511 - @30038
  kivopadmin/kivopadmin/Views/Posters/Components/PosterHelper.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/EditPosterPosition.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationDetailView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationMapAnnotationView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationPreviewView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsListView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsView.swift
Due: none

RecordsService Code optimiert - #511 - @30038
  kivopadmin/kivopadmin/Views/Records/MarkdownEditorView.swift
  kivopadmin/kivopadmin/Views/Records/RecordsAIServiceView.swift
  kivopadmin/kivopadmin/Views/Records/TranslationSheetView.swift
Due: none

Config-Service: JWT-Verfahren angeglichen - #514
  backend/config-service/Sources/App/Controllers/ConfigController.swift
  backend/config-service/Sources/App/Middlewares/AuthMiddleware.swift
  backend/config-service/Sources/App/configure.swift
  docker-compose.yml
Due: build-backend-docker-image-config-service

Removed Redundand Code (RideDetailView + RideMap) - API Code is managed by RideManager now - added comments
  KIVoP-ios/KIVoP-ios/API/RideManager.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideDetailView/Components/SpecialRideDecision.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideDetailView/Components/SpecialRideLocationRequestView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideDetailView/RideDetailView.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideDetailView/RideDetailViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Ride/RideMap/SelectRideLocation.swift
Due: none

MeetingService: komplett kommentiert - #511 - @30038
  kivopadmin/kivopadmin/BackendController/BackendController.swift
  kivopadmin/kivopadmin/BackendController/UserManager.swift
  kivopadmin/kivopadmin/Localizable.xcstrings
  kivopadmin/kivopadmin/Views/Events/EventsMainView.swift
  kivopadmin/kivopadmin/Views/Events/SelectPlaceView.swift
  kivopadmin/kivopadmin/Views/Events/Views/CreateEvent.swift
  kivopadmin/kivopadmin/Views/Events/Views/EditEventView.swift
  kivopadmin/kivopadmin/Views/Events/Views/EventDetailView.swift
  kivopadmin/kivopadmin/Views/MeetingService/CreateMeetingView.swift
  kivopadmin/kivopadmin/Views/MeetingService/EditMeetingView.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingAdminView.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDetailAdminView.swift
  kivopadmin/kivopadmin/Views/MeetingService/RecorderSelectionPreSheet.swift
  kivopadmin/kivopadmin/Views/MeetingService/SelectRecorderView.swift
  kivopadmin/kivopadmin/Views/Posters/CreatePosterView.swift
  kivopadmin/kivopadmin/Views/Posters/EditPosterView.swift
  kivopadmin/kivopadmin/Views/Posters/PostersMainView.swift
Due: none

Poster Service Komplett kommentiert - #511 - @30038
  kivopadmin/kivopadmin/Localizable.xcstrings
  kivopadmin/kivopadmin/Views/Posters/CreatePosterView.swift
  kivopadmin/kivopadmin/Views/Posters/EditPosterView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/EditPosterPosition.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationDetailView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationMapAnnotationView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationPreviewView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsListView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/LocationsView.swift
  kivopadmin/kivopadmin/Views/Posters/Map/Views/UserSelectionSheet.swift
  kivopadmin/kivopadmin/Views/Posters/PostersMainView.swift
Due: none

ViewModels und Code vernünftig kommentiert - @30078
  kivopadmin/kivopadmin/API/VotingService.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/PendingRequest.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/PendingRequestPopup.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserManagement.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/ViewModels/NutzerverwaltungViewModel.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/ViewModels/PendingRequestsViewModel.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/ViewModels/UserPopupViewModel.swift
  kivopadmin/kivopadmin/Views/Onboarding/Onboarding.swift
  kivopadmin/kivopadmin/Views/Onboarding/Onboarding_Wait.swift
  kivopadmin/kivopadmin/Views/Poll/CreatePollView.swift
  kivopadmin/kivopadmin/Views/Poll/PollListView.swift
  kivopadmin/kivopadmin/Views/Poll/PollListViewSection.swift
  kivopadmin/kivopadmin/Views/Poll/PollResultsView.swift
  kivopadmin/kivopadmin/Views/Poll/ViewModels/PollListViewModel.swift
  kivopadmin/kivopadmin/Views/Vereinseinstellungen/ClubsettingsMainView.swift
  kivopadmin/kivopadmin/Views/Vereinseinstellungen/ViewModel/ClubSettingsViewModel.swift
  kivopadmin/kivopadmin/Views/Voting/AbgeschlossenView.swift
  kivopadmin/kivopadmin/Views/Voting/AktivView.swift
  kivopadmin/kivopadmin/Views/Voting/ViewModels/AbgeschlossenViewModel.swift
  kivopadmin/kivopadmin/Views/Voting/ViewModels/AktivViewModel.swift
  kivopadmin/kivopadmin/Views/Voting/ViewModels/CreateVotingViewModel.swift
  kivopadmin/kivopadmin/Views/Voting/ViewModels/EditVotingViewModel.swift
  kivopadmin/kivopadmin/Views/Voting/ViewModels/InPlanungViewModel.swift
  kivopadmin/kivopadmin/Views/Voting/ViewModels/VotingDetailViewModel.swift
  kivopadmin/kivopadmin/Views/Voting/ViewModels/VotingListViewModel.swift
  kivopadmin/kivopadmin/Views/Voting/VotingDetailView.swift
  kivopadmin/kivopadmin/Views/Voting/VotingListView.swift
Due: none

Path conditions:
  dto-swiftkotlin: any of: DTOs/Sources/**/*, translate-dtos.sh
  build-backend-docker-image-config-service: any of: backend/config-service/**/*
  build-backend-docker-image-auth-service: any of: backend/auth-service/**/*
  build-backend-docker-image-meeting-service: any of: backend/meeting-service/**/*
  build-backend-docker-image-notifications-service: any of: backend/notifications-service/**/*
  build-backend-docker-image-all-services: any of: backend/models/**/*, DTOs/**/*
