Repository IAmMajo/Pleno: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dto-swiftkotlin, build-backend-docker-image-config-service, build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-notifications-service, build-backend-docker-image-all-services

dto-swiftkotlin:
  stage: build
  script:
  - ./translate-dtos.sh
  - git add *
  - git status
  - if [ "$(git status --porcelain | wc -l)" -eq "0" ]; then exit 0; fi
  - git commit -m "${SWIFTKOTLIN_COMMIT_MESSAGE}"
  ...

build-backend-docker-image-config-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build config-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-auth-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build auth-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-meeting-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build meeting-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-notifications-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build notifications-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-all-services:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

added pagnation and optional image
  backend/models/Sources/Models/poster-service/posterPosition.swift
  backend/poster-service/Sources/App/Controllers/PosterController.swift
  backend/poster-service/Sources/App/DTOs/CreatePosterDTO.swift
  backend/poster-service/Sources/App/DTOs/CreatePosterPositionDTO.swift
  backend/poster-service/Sources/App/DTOs/PagedResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/PosterPositionResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/PosterToBeTakenDownDTO.swift
Due: build-backend-docker-image-all-services

jwt token ueberpruefung ueberarbeitet - #201
  backend/ride-service/Sources/App/Controllers/RideController.swift
  backend/ride-service/Sources/App/DTOs/JWTPayloadDTO.swift
  backend/ride-service/Sources/App/Middleware/AdminMiddleware.swift
  backend/ride-service/Sources/App/Middleware/AuthMiddleware.swift
  backend/ride-service/Sources/App/routes.swift
Due: none

Kleine Anpassungen und onChange zum debuggen entfernt
  kivopadmin/kivopadmin.xcodeproj/project.xcworkspace/xcuserdata/amineahamri.xcuserdatad/UserInterfaceState.xcuserstate
  kivopadmin/kivopadmin/Views/Voting/AktivView.swift
  kivopadmin/kivopadmin/Views/Voting/CreateVotingView.swift
  kivopadmin/kivopadmin/Views/Voting/InPlanungView.swift
Due: none

TDuMs-Service: Nicht IP-relevant
  backend/docker-compose.yml
  backend/tdums-service/.dockerignore
  backend/tdums-service/.gitignore
  backend/tdums-service/Dockerfile
  backend/tdums-service/Package.resolved
  backend/tdums-service/Package.swift
  backend/tdums-service/Public/.gitkeep
  backend/tdums-service/Resources/aufklaerung-briefkasten.html
  backend/tdums-service/Resources/aufklaerung-mensa.html
  backend/tdums-service/Resources/aufklaerung-weihnachtsmarkt.html
  backend/tdums-service/Resources/homepage-de.html
  backend/tdums-service/Resources/homepage-en.html
  backend/tdums-service/Sources/App/Controllers/.gitkeep
  backend/tdums-service/Sources/App/DTOs/.gitkeep
  backend/tdums-service/Sources/App/DTOs/User.swift
  backend/tdums-service/Sources/App/Migrations/.gitkeep
  backend/tdums-service/Sources/App/Migrations/CreateVictim.swift
  backend/tdums-service/Sources/App/Models/.gitkeep
  backend/tdums-service/Sources/App/Models/Victim.swift
  backend/tdums-service/Sources/App/configure.swift
  backend/tdums-service/Sources/App/entrypoint.swift
  backend/tdums-service/Sources/App/routes.swift
  backend/tdums-service/Tests/AppTests/AppTests.swift
  docker-compose.yml
Due: none

TDuMs-Service: Nicht IP-relevant
  docker-compose.yml
Due: none

GetAttendanceDTO: `itsame` (`Bool`) hinzugefügt - Zeigt an, ob dieses DTO zum aktuellen Nutzer gehört - #195
  DTOs/Sources/MeetingServiceDTOs/GetAttendanceDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/dtos/AuthServiceDTOs/JWTPayloadDTO.kt
  android/dtos/AuthServiceDTOs/TokenResponseDTO.kt
  android/dtos/AuthServiceDTOs/UserLoginDTO.kt
  android/dtos/AuthServiceDTOs/UserProfileDTO.kt
  android/dtos/AuthServiceDTOs/UserProfileUpdateDTO.kt
  android/dtos/AuthServiceDTOs/UserRegistrationDTO.kt
  android/dtos/ConfigServiceDTOs/BulkUpdateResponseDTO.kt
  android/dtos/ConfigServiceDTOs/SettingBulkUpdateDTO.swift.kt
  android/dtos/ConfigServiceDTOs/SettingResponseDTO.kt
  android/dtos/ConfigServiceDTOs/SettingUpdateDTO.kt
  android/dtos/ConfigServiceDTOs/SettingUpdateItemDTO.swift.kt
  android/dtos/ConfigServiceDTOs/SettingValueDTO.kt
  android/dtos/ConfigServiceDTOs/WebhookPayloadDTO.kt
  android/dtos/MeetingServiceDTOs/CreateLocationDTO.kt
  android/dtos/MeetingServiceDTOs/CreateMeetingDTO.kt
  android/dtos/MeetingServiceDTOs/CreateVotingDTO.kt
  android/dtos/MeetingServiceDTOs/GetAttendanceDTO.kt
  android/dtos/MeetingServiceDTOs/GetIdentityDTO.kt
  android/dtos/MeetingServiceDTOs/GetLocationDTO.kt
  android/dtos/MeetingServiceDTOs/GetMeetingDTO.kt
  android/dtos/MeetingServiceDTOs/GetRecordDTO.kt
  android/dtos/MeetingServiceDTOs/GetVotingDTO.kt
  android/dtos/MeetingServiceDTOs/GetVotingOptionDTO.kt
  android/dtos/MeetingServiceDTOs/GetVotingResultsDTO.kt
  android/dtos/MeetingServiceDTOs/PatchMeetingDTO.kt
  android/dtos/MeetingServiceDTOs/PatchRecordDTO.kt
  android/dtos/MeetingServiceDTOs/PatchVotingDTO.kt
  android/dtos/NotificationsServiceDTOs/SendEmailDTO.kt
Due: none

Translator: Repariert (hoffentlich) - Negative Lookbehind (Z. 50) war zu lang - #202
  translate-dtos.sh
Due: dto-swiftkotlin

Translator-Skript: UUID korrigiert - #202
  translate-dtos.sh
Due: dto-swiftkotlin

Kotlin-DTOs automatisch generiert
  android/dtos/AuthServiceDTOs/JWTPayloadDTO.kt
  android/dtos/AuthServiceDTOs/UserProfileDTO.kt
  android/dtos/ConfigServiceDTOs/BulkUpdateResponseDTO.kt
  android/dtos/ConfigServiceDTOs/SettingResponseDTO.kt
  android/dtos/ConfigServiceDTOs/SettingUpdateItemDTO.swift.kt
  android/dtos/ConfigServiceDTOs/WebhookPayloadDTO.kt
  android/dtos/MeetingServiceDTOs/CreateMeetingDTO.kt
  android/dtos/MeetingServiceDTOs/CreateVotingDTO.kt
  android/dtos/MeetingServiceDTOs/GetAttendanceDTO.kt
  android/dtos/MeetingServiceDTOs/GetIdentityDTO.kt
  android/dtos/MeetingServiceDTOs/GetLocationDTO.kt
  android/dtos/MeetingServiceDTOs/GetMeetingDTO.kt
  android/dtos/MeetingServiceDTOs/GetRecordDTO.kt
  android/dtos/MeetingServiceDTOs/GetVotingDTO.kt
  android/dtos/MeetingServiceDTOs/GetVotingResultsDTO.kt
  android/dtos/MeetingServiceDTOs/PatchMeetingDTO.kt
  android/dtos/MeetingServiceDTOs/PatchRecordDTO.kt
Due: none

GetMeetingDTO: `myAttendanceStatus` ergänzt - Translator tauscht nur noch `}` von data classes durch `)` - #194
  DTOs/Sources/MeetingServiceDTOs/GetMeetingDTO.swift
  translate-dtos.sh
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/dtos/ConfigServiceDTOs/SettingResponseDTO.kt
  android/dtos/ConfigServiceDTOs/SettingUpdateDTO.kt
  android/dtos/ConfigServiceDTOs/SettingValueDTO.kt
  android/dtos/MeetingServiceDTOs/GetAttendanceDTO.kt
  android/dtos/MeetingServiceDTOs/GetMeetingDTO.kt
  android/dtos/MeetingServiceDTOs/GetRecordDTO.kt
Due: none

DTO-Translator: `public` von enums entfernt - #202
  translate-dtos.sh
Due: dto-swiftkotlin

Kotlin-DTOs automatisch generiert
  android/dtos/MeetingServiceDTOs/GetAttendanceDTO.kt
  android/dtos/MeetingServiceDTOs/GetMeetingDTO.kt
  android/dtos/MeetingServiceDTOs/GetRecordDTO.kt
Due: none

Sitzung-Service: **GET** `/meetings/{id}/attendances` angepasst - Sortierung nach `status`: present > accepted > nil > absent - Feld `itsame` wird nun (korrekt) befüllt - #193, #195
  backend/meeting-service/Sources/App/Controllers/AttendanceController.swift
  backend/meeting-service/Sources/App/DTOs/GetAttendanceDTO.swift
Due: build-backend-docker-image-meeting-service

TDuMs-Service: Nicht IP-relevant
  backend/tdums-service/Sources/App/routes.swift
Due: none

Fix build errors
  android/app/src/main/java/com/example/kivopandriod/components/AnwesenheitCard.kt
Due: none

Add automatic formatting and APK building for Android - #204
  .gitlab-ci.yml
Due: none

Remove installation of Java and unzip and remove git configuration - #204
  .gitlab-ci.yml
Due: none

Exclude ./android/dtos from formatting - #204
  .gitlab-ci.yml
Due: none

Add .editorconfig for android - #204
  android/.editorconfig
Due: none

Switch to PROJECT_ACCESS_TOKEN for android CI
  .gitlab-ci.yml
Due: none

Format
  android/app/build.gradle.kts
  android/app/src/androidTest/java/com/example/kivopandriod/ExampleInstrumentedTest.kt
  android/app/src/main/java/com/example/kivopandriod/MainActivity.kt
  android/app/src/main/java/com/example/kivopandriod/Screen.kt
  android/app/src/main/java/com/example/kivopandriod/components/Abstimungscard.kt
  android/app/src/main/java/com/example/kivopandriod/components/AgendaCard.kt
  android/app/src/main/java/com/example/kivopandriod/components/AnwesenheitCard.kt
  android/app/src/main/java/com/example/kivopandriod/components/BulletList.kt
  android/app/src/main/java/com/example/kivopandriod/components/CustomButton.kt
  android/app/src/main/java/com/example/kivopandriod/components/CustomInputField.kt
  android/app/src/main/java/com/example/kivopandriod/components/ErgebnisCard.kt
  android/app/src/main/java/com/example/kivopandriod/components/PieChart.kt
  android/app/src/main/java/com/example/kivopandriod/components/Response.kt
  android/app/src/main/java/com/example/kivopandriod/components/SitzungsCard.kt
  android/app/src/main/java/com/example/kivopandriod/components/Tabs.kt
  android/app/src/main/java/com/example/kivopandriod/components/TerminCard.kt
  android/app/src/main/java/com/example/kivopandriod/moduls/EventItem.kt
  android/app/src/main/java/com/example/kivopandriod/moduls/MeetingData.kt
  android/app/src/main/java/com/example/kivopandriod/moduls/VotingResults.kt
  android/app/src/main/java/com/example/kivopandriod/pages/AttendancesCoordinationPage.kt
  android/app/src/main/java/com/example/kivopandriod/pages/AttendancesListPage.kt
  android/app/src/main/java/com/example/kivopandriod/pages/HomePage.kt
  android/app/src/main/java/com/example/kivopandriod/pages/LoginActivity.kt
  android/app/src/main/java/com/example/kivopandriod/pages/MeetingsListPage.kt
  android/app/src/main/java/com/example/kivopandriod/pages/ProtocolListPage.kt
  android/app/src/main/java/com/example/kivopandriod/services/api/AttendancesApi.kt
  android/app/src/main/java/com/example/kivopandriod/services/api/AuthApi.kt
  android/app/src/main/java/com/example/kivopandriod/services/api/MeetingsApi.kt
  android/app/src/main/java/com/example/kivopandriod/services/interpolateColor.kt
  android/app/src/main/java/com/example/kivopandriod/ui/theme/Color.kt
  android/app/src/main/java/com/example/kivopandriod/ui/theme/FontSizes.kt
  android/app/src/main/java/com/example/kivopandriod/ui/theme/Fonts.kt
  android/app/src/main/java/com/example/kivopandriod/ui/theme/Theme.kt
  android/app/src/main/java/com/example/kivopandriod/ui/theme/Type.kt
  android/app/src/test/java/com/example/kivopandriod/ExampleUnitTest.kt
  android/build.gradle.kts
  android/settings.gradle.kts
Due: none

Change branch to run android CI on - #204
  .gitlab-ci.yml
Due: none

Also move AttendancesListsData.kt to android folder
  android/app/src/main/java/com/example/kivopandriod/moduls/AttendancesListsData.kt
Due: none

Revert "Switch to PROJECT_ACCESS_TOKEN for android CI"
  .gitlab-ci.yml
Due: none

Route um alle Rides abzufragen hinzu - #201
  backend/ride-service/Sources/App/Controllers/RideController.swift
  backend/ride-service/Sources/App/DTOs/GetRideOverviewDTO.swift
  backend/ride-service/Sources/App/Extensions/DTOs/GetRideOverviewDTO.swift
  backend/ride-service/Sources/App/Extensions/Models/Ride.swift
Due: none

rename extensions, weil gleiche Dateinamen nicht gehen - #201
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_GetRideOverviewDTO.swift
  backend/ride-service/Sources/App/Extensions/Models/Ext_Ride.swift
Due: none

Verbessertes Design für CreateVoting and EditVoting
  kivopadmin/kivopadmin.xcodeproj/project.xcworkspace/xcuserdata/amineahamri.xcuserdatad/UserInterfaceState.xcuserstate
  kivopadmin/kivopadmin/Views/Voting/CreateVotingView.swift
  kivopadmin/kivopadmin/Views/Voting/EditVotingView.swift
Due: none

Benutzerfunktionen erweitert - Account kann gelöscht werden - Identitäten können aufgerufen werden - #190
  backend/auth-service/Sources/App/Controllers/UserController.swift
Due: build-backend-docker-image-auth-service

update DB-Schema - ParticipantLocation entfernt - #201
  backend/models/Sources/Models/ride-service/Participant.swift
  backend/models/Sources/Models/ride-service/ParticipantLocation.swift
  backend/ride-service/Sources/App/Migrations/CreateParticipant.swift
  backend/ride-service/Sources/App/Migrations/CreateParticipantLocation.swift
  backend/ride-service/Sources/App/configure.swift
Due: build-backend-docker-image-all-services

Route um an Fahrt teilzunehmen hinzu - #201
  backend/ride-service/Sources/App/Controllers/RideController.swift
  backend/ride-service/Sources/App/DTOs/ParticipateDTO.swift
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_ParticipateDTO.swift
Due: none

Route um Teilnahmestatus abzufragen hinzu - #201
  backend/ride-service/Sources/App/Controllers/RideController.swift
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_ParticipateDTO.swift
  backend/ride-service/Sources/App/Extensions/Models/Ext_Participant.swift
Due: none

Route um Teilnahme zu entfernen hinzu - #201
  backend/ride-service/Sources/App/Controllers/RideController.swift
Due: none

Route um Teilnahme zu updaten - #201
  backend/ride-service/Sources/App/Controllers/RideController.swift
  backend/ride-service/Sources/App/DTOs/PatchParticipateDTO.swift
  backend/ride-service/Sources/App/Extensions/Models/Ext_Participant.swift
Due: none

Fix Merge-conflicts
  kivopadmin/kivopadmin.xcodeproj/project.xcworkspace/xcuserdata/amineahamri.xcuserdatad/UserInterfaceState.xcuserstate
  kivopadmin/kivopadmin/API/MeetingManager.swift
  kivopadmin/kivopadmin/Views/MainPage/MainPage.swift
Due: none

fix naming - #201
  backend/ride-service/Sources/App/Controllers/RideController.swift
  backend/ride-service/Sources/App/DTOs/ParticipateDTO.swift
  backend/ride-service/Sources/App/DTOs/ParticipationDTO.swift
  backend/ride-service/Sources/App/DTOs/PatchParticipateDTO.swift
  backend/ride-service/Sources/App/DTOs/PatchParticipationDTO.swift
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_ParticipateDTO.swift
  backend/ride-service/Sources/App/Extensions/Models/Ext_Participant.swift
Due: none

fix filename - #201
  backend/ride-service/Sources/App/Extensions/DTOs/Ext_ParticipationDTO.swift
Due: none

Path conditions:
  dto-swiftkotlin: any of: DTOs/Sources/**/*, translate-dtos.sh
  build-backend-docker-image-config-service: any of: backend/config-service/**/*
  build-backend-docker-image-auth-service: any of: backend/auth-service/**/*
  build-backend-docker-image-meeting-service: any of: backend/meeting-service/**/*
  build-backend-docker-image-notifications-service: any of: backend/notifications-service/**/*
  build-backend-docker-image-all-services: any of: backend/models/**/*, DTOs/**/*
