Repository IAmMajo/Pleno: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dto-swiftkotlin, build-backend-docker-image-config-service, build-backend-docker-image-auth-service, build-backend-docker-image-meeting-service, build-backend-docker-image-notifications-service, build-backend-docker-image-all-services

dto-swiftkotlin:
  stage: build
  script:
  - ./translate-dtos.sh
  - git add *
  - git status
  - git commit -m "${SWIFTKOTLIN_COMMIT_MESSAGE}"
  - git push -o ci.skip "https://gitlab-ci-token:${PROJECT_ACCESS_MAINTAINER_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git" HEAD:${CI_COMMIT_BRANCH}

build-backend-docker-image-config-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build config-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-auth-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build auth-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-meeting-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build meeting-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-notifications-service:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build notifications-service
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

build-backend-docker-image-all-services:
  stage: build
  script:
  - cd "$PROD_DIR_LOCATION"
  - docker compose build
  environment:
    name: Production
    url: https://kivop.ipv64.net
    action: prepare
    deployment_tier: production

Änderungen an PosterService, RecordService und MeetingService - #363 - @30038
  kivopadmin/kivopadmin/BackendController/PosterManager.swift
  kivopadmin/kivopadmin/BackendController/RecordManager.swift
  kivopadmin/kivopadmin/Views/MeetingService/EditMeetingView.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDateilAdminView.swift
  kivopadmin/kivopadmin/Views/Posters/PosterDetailView.swift
  kivopadmin/kivopadmin/Views/Posters/PostersMainView.swift
  kivopadmin/kivopadmin/Views/Posters/Posters_AddPositionView.swift
  kivopadmin/kivopadmin/Views/Records/MarkdownEditorView.swift
  kivopadmin/kivopadmin/Views/Records/RecordNotApprovedView.swift
  kivopadmin/kivopadmin/Views/Records/RecordsMainView.swift
Due: none

#59 added PopupCheckIn, added color (Signal_neutral_20) @30110
  android/app/src/main/java/net/ipv64/kivop/components/PopupCheckIn.kt
  android/app/src/main/java/net/ipv64/kivop/ui/theme/Color.kt
Due: none

#59 small fix
  android/app/src/main/java/net/ipv64/kivop/components/PopupCheckIn.kt
Due: none

url zu blop
  DTOs/Sources/PosterServiceDTOs/PosterPositionsResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterSummaryResponse.swift
  backend/models/Sources/Models/poster-service/Poster.swift
  backend/models/Sources/Models/poster-service/posterPosition.swift
  backend/poster-service/Sources/App/Controllers/PosterController.swift
  backend/poster-service/Sources/App/Controllers/PosterPositionController.swift
  backend/poster-service/Sources/App/DTOs/CreatePosterDTO.swift
  backend/poster-service/Sources/App/DTOs/CreatePosterPositionDTO.swift
  backend/poster-service/Sources/App/DTOs/DeleteDTO.swift
  backend/poster-service/Sources/App/DTOs/DeletePosterDTO.swift
  backend/poster-service/Sources/App/DTOs/HangPosterPositionDTO.swift
  backend/poster-service/Sources/App/DTOs/HangPosterPositionResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/PosterPositionResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/PosterResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/PosterSummaryResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/TakeDownPosterPositionDTO.swift
  backend/poster-service/Sources/App/DTOs/TakeDownPosterPositionResponseDTO.swift
  backend/poster-service/Sources/App/DTOs/UpdatePosterDTO.swift
  backend/poster-service/Sources/App/DTOs/UpdatePosterPositionDTO.swift
  backend/poster-service/Sources/App/Migrations/CreatePosterPosition.swift
  backend/poster-service/Sources/App/Migrations/CreatePosters.swift
  backend/poster-service/Sources/App/Models/PosterPosition.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Openapi angepasst
  DTOs/Sources/PosterServiceDTOs/HangPosterPositionDTO.swift
  DTOs/Sources/PosterServiceDTOs/HangPosterPositionResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterPositionResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterPositionsResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterSummaryResponse.swift
  DTOs/Sources/PosterServiceDTOs/PosterSummaryResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/TakeDownPosterPositionDTO.swift
  DTOs/Sources/PosterServiceDTOs/TakeDownPosterPositionResponseDTO.swift
  backend/docker-compose.yml
  backend/poster-service/Dockerfile
  backend/poster-service/Sources/App/Controllers/PosterPositionController.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

patch bug fix
  backend/poster-service/Sources/App/Controllers/PosterPositionController.swift
Due: none

imageUrl zu image
  DTOs/Sources/PosterServiceDTOs/PosterPositionsResponseDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

imageUrl zu image
  DTOs/Sources/PosterServiceDTOs/HangPosterPositionDTO.swift
  DTOs/Sources/PosterServiceDTOs/HangPosterPositionResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterPositionResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterSummaryResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/TakeDownPosterPositionDTO.swift
  DTOs/Sources/PosterServiceDTOs/TakeDownPosterPositionResponseDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/HangPosterPositionDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/HangPosterPositionResponseDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/PosterPositionResponseDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/PosterResponseDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/PosterSummaryResponseDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/TakeDownPosterPositionDTO.kt
  android/app/src/main/java/net/ipv64/kivop/dtos/PosterServiceDTOs/TakeDownPosterPositionResponseDTO.kt
Due: none

Change email route to be internal - #48
  .env.example
  backend/auth-service/Sources/App/Controllers/UserController.swift
  backend/docker-compose.yml
  backend/notifications-service/Sources/App/Controllers/EmailController.swift
  backend/notifications-service/Sources/App/DTOs/SendEmailDTO.swift
  backend/notifications-service/Sources/App/configure.swift
  backend/notifications-service/Sources/App/routes.swift
  backend/poster-service/Sources/App/Tasks/DailyCheckTask.swift
  docker-compose.yml
Due: build-backend-docker-image-auth-service, build-backend-docker-image-notifications-service

#59 added QR-Code-Button, added QR-Code Icon, added custom font styling, @30110
  android/app/src/main/java/net/ipv64/kivop/components/CustomButton.kt
  android/app/src/main/java/net/ipv64/kivop/components/PopupCheckIn.kt
  android/app/src/main/java/net/ipv64/kivop/models/ButtonStyle.kt
  android/app/src/main/java/net/ipv64/kivop/ui/theme/Color.kt
  android/app/src/main/java/net/ipv64/kivop/ui/theme/Fonts.kt
  android/app/src/main/res/drawable/ic_qr_code_scanner_22dp.xml
Due: none

MainPageMeetingBottomBar angepasst. Protokoll erst abrufbar, wenn veröffentlicht. Der Protokollant kann das Protokoll sehen, wenn es noch nicht eingereicht wurde. - #389 - @30038
  KIVoP-ios/KIVoP-ios/API/AttendanceManager.swift
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Views/MainPage/Mainpage-CurrentMeetingBottomView.swift
  KIVoP-ios/KIVoP-ios/Views/Meeting/Meeting-RecordsView.swift
  KIVoP-ios/KIVoP-ios/Views/Protokolle/MarkdownEditorView.swift
Due: none

Änderungen an CurrentMeetingBottomView - #363 - @30038
  kivopadmin/kivopadmin/BackendController/AttendanceManager.swift
  kivopadmin/kivopadmin/Views/MainPage/CurrentMeetingBottomView.swift
  kivopadmin/kivopadmin/Views/MainPage/MainPage.swift
Due: none

59 added alert-version CTC, added signal_red_20, added second alert button style @30110
  android/app/src/main/java/net/ipv64/kivop/components/PopupCallToConfirmation.kt
  android/app/src/main/java/net/ipv64/kivop/components/PopupCheckIn.kt
  android/app/src/main/java/net/ipv64/kivop/models/ButtonStyle.kt
  android/app/src/main/java/net/ipv64/kivop/ui/theme/Color.kt
Due: none

Format
  android/app/src/main/java/net/ipv64/kivop/components/CustomButton.kt
  android/app/src/main/java/net/ipv64/kivop/components/PopupCallToConfirmation.kt
  android/app/src/main/java/net/ipv64/kivop/components/PopupCheckIn.kt
  android/app/src/main/java/net/ipv64/kivop/models/ButtonStyle.kt
  android/app/src/main/java/net/ipv64/kivop/ui/theme/Color.kt
  android/app/src/main/java/net/ipv64/kivop/ui/theme/Fonts.kt
Due: none

Nutzungsverwaltung Fehler behoben - Profilbild wird jetzt nicht automatisch mitgelöscht wenn Username geändert wird - @30078
  kivopadmin/kivopadmin/API/MainPageAPI.swift
  kivopadmin/kivopadmin/Views/Nutzerverwaltung/UserPopUp.swift
Due: none

Umfragen Prototyp eingebaut
  KIVoP-ios/KIVoP-ios.xcodeproj/project.pbxproj
  KIVoP-ios/KIVoP-ios/Localizable.xcstrings
  KIVoP-ios/KIVoP-ios/Utils/WrappedLayoutView.swift
  KIVoP-ios/KIVoP-ios/Utils/WrappingCollectionView.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage.swift
  KIVoP-ios/KIVoP-ios/Views/Meeting/Onboarding/ForgotPasswordView.swift
  KIVoP-ios/KIVoP-ios/Views/Meeting/Onboarding/Onboarding-Login.swift
  KIVoP-ios/KIVoP-ios/Views/Meeting/Onboarding/Onboarding-ProfilePicture.swift
  KIVoP-ios/KIVoP-ios/Views/Meeting/Onboarding/Onboarding-Register.swift
  KIVoP-ios/KIVoP-ios/Views/Meeting/Onboarding/Onboarding-Wait.swift
  KIVoP-ios/KIVoP-ios/Views/Meeting/Onboarding/Onboarding.swift
  KIVoP-ios/KIVoP-ios/Views/Polls/Components/PollPieChartView.swift
  KIVoP-ios/KIVoP-ios/Views/Polls/Components/PollStateTracker.swift
  KIVoP-ios/KIVoP-ios/Views/Polls/PollViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Polls/Polls-CreatePollView.swift
  KIVoP-ios/KIVoP-ios/Views/Polls/Polls-PollResultView.swift
  KIVoP-ios/KIVoP-ios/Views/Polls/Polls-VoteView.swift
  KIVoP-ios/KIVoP-ios/Views/Polls/PollsView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Components/PieChartView.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/VotingViewModel.swift
  KIVoP-ios/KIVoP-ios/Views/Votings/Votings-VoteView.swift
Due: none

Umfrage-Service: Routen angelegt - #376 (#333)
  backend/models/Sources/Models/poll-service/Poll.swift
  backend/models/Sources/Models/poll-service/PollVotingOption.swift
  backend/poll-service/Package.resolved
  backend/poll-service/Package.swift
  backend/poll-service/Sources/App/Controllers/PollController.swift
  backend/poll-service/Sources/App/DTOs/CreatePollDTO.swift
  backend/poll-service/Sources/App/DTOs/GetIdentityDTO.swift
  backend/poll-service/Sources/App/DTOs/GetPollDTO.swift
  backend/poll-service/Sources/App/DTOs/GetPollResultsDTO.swift
  backend/poll-service/Sources/App/DTOs/GetPollVotingOptionDTO.swift
  backend/poll-service/Sources/App/DTOs/JWTPayloadDTO.swift
  backend/poll-service/Sources/App/Middlewares/AdminMiddleware.swift
  backend/poll-service/Sources/App/Middlewares/AuthMiddleware.swift
  backend/poll-service/Sources/App/Misc/PercentageCutoff.swift
  backend/poll-service/Sources/App/Misc/Sequence+AsyncMap.swift
  backend/poll-service/Sources/App/Models/Identity.swift
  backend/poll-service/Sources/App/Models/IdentityHistory.swift
  backend/poll-service/Sources/App/Models/Poll.swift
  backend/poll-service/Sources/App/Models/PollVotingOption.swift
  backend/poll-service/Sources/App/routes.swift
Due: build-backend-docker-image-all-services

Umfrage-Service: Placeholder im Swagger-Initializer entfernt - Außerdem Replikatorskript entsprechend korrigiert - #333 - Nachbesserung zu #332
  backend/_service-template/replicate.sh
  backend/poll-service/Public/swagger/swagger-initializer.js
Due: none

Updated .gitlab-ci.yml file build-backend-docker-image-poll-service: Hinzugefügt - #377 (#333)
  .gitlab-ci.yml
Due: none

Add: ic_chevron_down_24.xml and ic_chevron_up_24.xml, Refs: @30226, #343
  android/app/src/main/res/drawable/ic_chevron_down_24.xml
  android/app/src/main/res/drawable/ic_chevron_up_24.xml
Due: none

add: components/ExpandableBox.kt, models/attendancesList.kt, services/GetScreenHeight.kt
  android/app/src/main/java/net/ipv64/kivop/components/ExpandableBox.kt
  android/app/src/main/java/net/ipv64/kivop/models/attendancesList.kt
  android/app/src/main/java/net/ipv64/kivop/services/GetScreenHeight.kt
Due: none

Umfrage-Service: Routen angepasst - Übergebliebenes `/votings` entfernt - Nachbesserung zu #376 (#333)
  backend/poll-service/Sources/App/Controllers/PollController.swift
Due: none

update: IconTextField.kt
  android/app/src/main/java/net/ipv64/kivop/components/IconTextField.kt
Due: none

update: models/viewModel/MeetingViewModel.kt
  android/app/src/main/java/net/ipv64/kivop/models/viewModel/MeetingViewModel.kt
  android/app/src/main/java/net/ipv64/kivop/models/viewModel/MeetingsViewModel.kt
Due: none

update: MeetingsListPage, AttendancesCoordinationPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/AttendancesCoordinationPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/MeetingsListPage.kt
Due: none

update: AgendaCard.kt, AttendaceList.kt
  android/app/src/main/java/net/ipv64/kivop/components/AgendaCard.kt
  android/app/src/main/java/net/ipv64/kivop/components/AttendanceList.kt
Due: none

update: LoggedUserAttendanceCard.kt,
  android/app/src/main/java/net/ipv64/kivop/components/LoggedUserAttendanceCard.kt
Due: none

#391 added PopupStandort (design) @30110
  android/app/src/main/java/net/ipv64/kivop/components/PopupCheckIn.kt
  android/app/src/main/java/net/ipv64/kivop/components/PopupStandort.kt
Due: none

Format
  android/app/src/main/java/net/ipv64/kivop/components/PopupStandort.kt
Due: none

patched customInputField: added maxline
  android/app/src/main/java/net/ipv64/kivop/components/CustomInputField.kt
Due: none

patched customInputField: changed Textstyle
  android/app/src/main/java/net/ipv64/kivop/components/CustomInputField.kt
Due: none

Umfrage-Service: Bugfixes - Nachbesserung zu #376 (#333)
  backend/models/Sources/Models/poll-service/PollVote.swift
  backend/poll-service/Sources/App/Controllers/PollController.swift
  backend/poll-service/Sources/App/Models/Poll.swift
Due: build-backend-docker-image-all-services

Plakatpositionen + Anwesenheiten in der Admin App
  DTOs/Sources/PosterServiceDTOs/HangPosterPositionDTO.swift
  DTOs/Sources/PosterServiceDTOs/HangPosterPositionResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterPositionResponseDTO.swift
  DTOs/Sources/PosterServiceDTOs/PosterResponseDTO.swift
  kivopadmin/kivopadmin/BackendController/PosterManager.swift
  kivopadmin/kivopadmin/Views/Attendance/AttendanceView.swift
  kivopadmin/kivopadmin/Views/Attendance/AttendanceViewModel.swift
  kivopadmin/kivopadmin/Views/Attendance/CurrentView/AttendanceCurrentView.swift
  kivopadmin/kivopadmin/Views/Attendance/CurrentView/AttendanceCurrentViewModel.swift
  kivopadmin/kivopadmin/Views/Attendance/DetailView/AttendanceDetailView.swift
  kivopadmin/kivopadmin/Views/Attendance/DetailView/AttendanceDetailViewModel.swift
  kivopadmin/kivopadmin/Views/Attendance/PlanningView/AttendancePlanningView.swift
  kivopadmin/kivopadmin/Views/Attendance/PlanningView/AttendancePlanningViewModel.swift
  kivopadmin/kivopadmin/Views/MeetingService/MeetingDateilAdminView.swift
  kivopadmin/kivopadmin/Views/Posters/Components/ProgressBarView.swift
  kivopadmin/kivopadmin/Views/Posters/PosterDetailView.swift
  kivopadmin/kivopadmin/Views/Posters/PosterMapView.swift
  kivopadmin/kivopadmin/Views/Posters/PostersMainView.swift
  kivopadmin/kivopadmin/Views/Posters/Posters_AddPositionView.swift
  kivopadmin/kivopadmin/Views/Posters/Posters_PositionView.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

DTOs: GetPollResultDTO ergänzt - Neues Feld `text` - #397
  DTOs/Sources/PollServiceDTOs/GetPollResultsDTO.swift
Due: dto-swiftkotlin, build-backend-docker-image-all-services

Kotlin-DTOs automatisch generiert
  android/app/src/main/java/net/ipv64/kivop/dtos/PollServiceDTOs/GetPollResultsDTO.kt
Due: none

Umfragen umgesetzt - 30078
  KIVoP-ios/KIVoP-ios/API/PollAPI.swift
  KIVoP-ios/KIVoP-ios/Views/MainPage/MainPage.swift
  KIVoP-ios/KIVoP-ios/Views/Poll/CreatePollView.swift
  KIVoP-ios/KIVoP-ios/Views/Poll/DestructiveButtonStyle.swift
  KIVoP-ios/KIVoP-ios/Views/Poll/PieChartView 2.swift
  KIVoP-ios/KIVoP-ios/Views/Poll/PollDetailView.swift
  KIVoP-ios/KIVoP-ios/Views/Poll/PollListView.swift
  KIVoP-ios/KIVoP-ios/Views/Poll/PollResultsView.swift
Due: none

Umfrageergebnis behoben - @30078
  kivopadmin/kivopadmin/Views/Poll/PollResultsView.swift
Due: none

Umfrage-Service: GetPollResultDTO ergänzt - Feld `text` befüllt - #399
  backend/poll-service/Sources/App/Models/Poll.swift
Due: none

prep: Everything prepared for ProtocolPage
  android/app/src/main/java/net/ipv64/kivop/MainActivity.kt
  android/app/src/main/java/net/ipv64/kivop/components/ListsItem.kt
  android/app/src/main/java/net/ipv64/kivop/models/viewModel/MeetingViewModel.kt
  android/app/src/main/java/net/ipv64/kivop/models/viewModel/ProtocolViewModel.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/AttendancesCoordinationPage.kt
  android/app/src/main/java/net/ipv64/kivop/pages/mainApp/ProtocolListPage.kt
  android/app/src/main/java/net/ipv64/kivop/services/api/ProtocolApi.kt
Due: none

Path conditions:
  dto-swiftkotlin: any of: DTOs/Sources/**/*, translate-dtos.sh
  build-backend-docker-image-config-service: any of: backend/config-service/**/*
  build-backend-docker-image-auth-service: any of: backend/auth-service/**/*
  build-backend-docker-image-meeting-service: any of: backend/meeting-service/**/*
  build-backend-docker-image-notifications-service: any of: backend/notifications-service/**/*
  build-backend-docker-image-all-services: any of: backend/models/**/*, DTOs/**/*
